
<%= render KajoolyTemplateTailwindWeb.LayoutView, "auth/user_registration/new.html", %{ 
  conn:   @conn, assigns: %{ 
      form_action: "#",
      forgot_password_title: "Forgot your password?",
      forgot_password_to: "#",
      login_title: "Create account",
      login_to: "#",
      remember_me_title: "Keep me logged in for 60 days",
      register_title: "Log_in",
      changeset: %{}
  }}%>
  