
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/template/style.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/template/app.js")}></script>
    <script src="https://cdn.tailwindcss.com"></script>