<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "KajoolyTemplateTailwind", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="flex bg-gray-100 text-gray-600 dark:bg-gray-800 h-screen" x-data="{ isSidebarExpanded: $persist(true) }">
      <aside class="flex flex-col text-gray-300 bg-gray-100 dark:text-gray-800 dark:bg-gray-900 transition-all duration-300 ease-in-out z-50" :class="isSidebarExpanded ? 'w-64 absolute top-0 left-0 min-h-full md:relative  transition-all duration-300 ease-in-out ' : 'w-20 hidden md:block  transition-all duration-300 ease-in-out '">
          <a href="#" class="h-20 flex items-center px-4 bg-white text-gray-600 dark:text-gray-300  dark:bg-gray-800 hover:text-gray-700 hover:bg-opacity-50 focus:outline-none focus:text-gray-900   focus:bg-opacity-50 overflow-hidden">
            <svg viewBox="0 0 20 20" fill="currentColor" class="h-12 w-12 flex-shrink-0">
              <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
            </svg>
            <span class="ml-2 text-xl font-medium duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'">Dashboard</span>
            <button class="p-2 ml-auto float-left block md:hidden" @click="isSidebarExpanded = !isSidebarExpanded">
              <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 transform" :class="isSidebarExpanded ? 'rotate-180' : 'rotate-0'">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="6" x2="14" y2="6" />
                <line x1="4" y1="18" x2="14" y2="18" />
                <path d="M4 12h17l-3 -3m0 6l3 -3" />
              </svg>
            </button>
          </a>
          <%= render "template/_left_menu.html", conn: @conn %>
      </aside>
      <div class="flex-1 flex flex-col">
        <header class="h-20 flex items-center px-6 bg-white dark:bg-gray-800 dark:text-gray-300 ">
            <button class="p-2 -ml-2 mr-2" @click="isSidebarExpanded = !isSidebarExpanded">
              <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 transform" :class="isSidebarExpanded ? 'rotate-180' : 'rotate-0'">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="6" x2="14" y2="6" />
                <line x1="4" y1="18" x2="14" y2="18" />
                <path d="M4 12h17l-3 -3m0 6l3 -3" />
              </svg>
            </button>
            <span class="font-medium mr-auto">&nbsp;</span>
          <%= render "template/_top_user_menu.html", conn: @conn %>
          <%= render "template/_top_notification_menu.html", conn: @conn %>
          <%= render "template/_top_dark_mode_menu.html", conn: @conn %>
        </header>
        <main class="flex-1 p-6 overflow-auto dark:bg-gray-900 dark:text-gray-300">
          <%= @inner_content %>
          <%= render "template/_footer.html", conn: @conn %>
        </main>
      </div>
    </div>
  </body>
</html>
