<!DOCTYPE html>
<html lang={"#{ assigns[:lang] || "es" }"}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= render "patrials/_head_meta.html", conn: @conn, assigns: assigns  %>
    <%= live_title_tag assigns[:page_title] || assigns[:head][:title] || "KajoolyTemplateTailwind", suffix: assigns[:head][:suffix] || " · Phoenix Framework" %>
    <%= render "patrials/_head_css_scripts.html", conn: @conn, assigns: assigns  %>
  </head>
  <body>
    <div 
      class="flex bg-gray-100 text-gray-600 dark:bg-gray-800 h-screen" 
      x-data={"{ isSidebarExpanded: $persist(#{assigns["default_ui"]["isSidebarExpanded"]||"false"}).as('isSidebarExpanded') , isCompactMode: $persist(#{assigns["default_ui"]["isCompactMode"]||"false"}).as('isCompactMode') , isLiquidPage: $persist(#{assigns["default_ui"]["isLiquidPage"]||"false"}).as('isLiquidPage') }"}>
      <%= render "patrials/_left_menu.html", conn: @conn, list: assigns.left_aside.menu.list %>
      <div class="flex-1 flex flex-col">
        <%= render "patrials/_body_header.html", conn: @conn %>
        <div class="flex-1 p-4 overflow-auto dark:bg-gray-900 dark:text-gray-300">
          <main class="m-auto" :class="isLiquidPage ? 'container sm:px-8 md:px-10':''">
            <%= @inner_content %>
            <%= render "patrials/_cookies.html", conn: @conn, assigns: assigns  %>
            <%= render "patrials/_footer.html", conn: @conn, assigns: assigns  %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
