<section class="text-right font-semibold text-gray-500 mt-5">
  <a href="#" class="text-blue-600 hover:underline">Phoneix framework</a> with <a href="https://tailwindcss.com/" class="text-teal-400 hover:underline">Tailwind CSS</a> by boscotron, <a href="https://kajooly.com/" class="text-blue-600 hover:underline">Kajooly</a> with love
</section>