<div x-data="{ isCompactMode: $persist(false).as('isCompactMode') }" >
<.breadcrum
  title="Colores disponibles"
  subtitle="Tabla de colores disponibles."
  pages={[
      %{ 
        title: "", 
        to: "#home",
        icon: "home"
      },
      %{ 
        title: "Lista de ejemplo", 
        to: "#list",
        icon: "chevron"
      },
      %{ 
        title: "Lista general", 
        to: nil,
        icon: "chevron"
      }
      ]} />
<!-- top buttons -->
<!-- Table -->
    <div class="m-0.5 sm:m-0.5 xs:m-0.5 md:m-0.5 lg:m-0.5 xl:m-0.5 mt-0.5 xs:mt-0.5 sm:mt-0.5 md:mt-0.5 lg:mt-0.5 xl:mt-0.5 mb-0.5 xs:mb-0.5 sm:mb-0.5 md:mb-0.5 lg:mb-0.5 xl:mb-0.5 ml-0.5 xs:ml-0.5 sm:ml-0.5 md:ml-0.5 lg:ml-0.5 xl:ml-0.5 mr-0.5 xs:mr-0.5 sm:mr-0.5 md:mr-0.5 lg:mr-0.5 xl:mr-0.5 p-0.5 xs:p-0.5 sm:p-0.5 md:p-0.5 lg:p-0.5 xl:p-0.5 pt-0.5 xs:pt-0.5 sm:pt-0.5 md:pt-0.5 lg:pt-0.5 xl:pt-0.5 pb-0.5 xs:pb-0.5 sm:pb-0.5 md:pb-0.5 lg: xl:pb-0.5 pl-0.5 xs:pl-0.5 sm:pl-0.5 md:pl-0.5 lg:pl-0.5 xl:pl-0.5 pr-0.5 xs:pr-0.5 sm:pr-0.5 md:pr-0.5 lg:pr-0.5 xl:pr-0.5 "></div>
   <div class="m-1 sm:m-1 xs:m-1 md:m-1 lg:m-1 xl:m-1 mt-1 xs:mt-1 sm:mt-1 md:mt-1 lg:mt-1 xl:mt-1 mb-1 xs:mb-1 sm:mb-1 md:mb-1 lg:mb-1 xl:mb-1 ml-1 xs:ml-1 sm:ml-1 md:ml-1 lg:ml-1 xl:ml-1 mr-1 xs:mr-1 sm:mr-1 md:mr-1 lg:mr-1 xl:mr-1 p-1 xs:p-1 sm:p-1 md:p-1 lg:p-1 xl:p-1 pt-1 xs:pt-1 sm:pt-1 md:pt-1 lg:pt-1 xl:pt-1 pb-1 xs:pb-1 sm:pb-1 md:pb-1 lg: xl:pb-1 pl-1 xs:pl-1 sm:pl-1 md:pl-1 lg:pl-1 xl:pl-1 pr-1 xs:pr-1 sm:pr-1 md:pr-1 lg:pr-1 xl:pr-1 "></div>
    <div class="m-1.5 sm:m-1.5 xs:m-1.5 md:m-1.5 lg:m-1.5 xl:m-1.5 mt-1.5 xs:mt-1.5 sm:mt-1.5 md:mt-1.5 lg:mt-1.5 xl:mt-1.5 mb-1.5 xs:mb-1.5 sm:mb-1.5 md:mb-1.5 lg:mb-1.5 xl:mb-1.5 ml-1.5 xs:ml-1.5 sm:ml-1.5 md:ml-1.5 lg:ml-1.5 xl:ml-1.5 mr-1.5 xs:mr-1.5 sm:mr-1.5 md:mr-1.5 lg:mr-1.5 xl:mr-1.5 p-1.5 xs:p-1.5 sm:p-1.5 md:p-1.5 lg:p-1.5 xl:p-1.5 pt-1.5 xs:pt-1.5 sm:pt-1.5 md:pt-1.5 lg:pt-1.5 xl:pt-1.5 pb-1.5 xs:pb-1.5 sm:pb-1.5 md:pb-1.5 lg: xl:pb-1.5 pl-1.5 xs:pl-1.5 sm:pl-1.5 md:pl-1.5 lg:pl-1.5 xl:pl-1.5 pr-1.5 xs:pr-1.5 sm:pr-1.5 md:pr-1.5 lg:pr-1.5 xl:pr-1.5 "></div>
   <div class="m-2 sm:m-2 xs:m-2 md:m-2 lg:m-2 xl:m-2 mt-2 xs:mt-2 sm:mt-2 md:mt-2 lg:mt-2 xl:mt-2 mb-2 xs:mb-2 sm:mb-2 md:mb-2 lg:mb-2 xl:mb-2 ml-2 xs:ml-2 sm:ml-2 md:ml-2 lg:ml-2 xl:ml-2 mr-2 xs:mr-2 sm:mr-2 md:mr-2 lg:mr-2 xl:mr-2 p-2 xs:p-2 sm:p-2 md:p-2 lg:p-2 xl:p-2 pt-2 xs:pt-2 sm:pt-2 md:pt-2 lg:pt-2 xl:pt-2 pb-2 xs:pb-2 sm:pb-2 md:pb-2 lg: xl:pb-2 pl-2 xs:pl-2 sm:pl-2 md:pl-2 lg:pl-2 xl:pl-2 pr-2 xs:pr-2 sm:pr-2 md:pr-2 lg:pr-2 xl:pr-2 "></div>
   <div class="m-2.5 sm:m-2.5 xs:m-2.5 md:m-2.5 lg:m-2.5 xl:m-2.5 mt-2.5 xs:mt-2.5 sm:mt-2.5 md:mt-2.5 lg:mt-2.5 xl:mt-2.5 mb-2.5 xs:mb-2.5 sm:mb-2.5 md:mb-2.5 lg:mb-2.5 xl:mb-2.5 ml-2.5 xs:ml-2.5 sm:ml-2.5 md:ml-2.5 lg:ml-2.5 xl:ml-2.5 mr-2.5 xs:mr-2.5 sm:mr-2.5 md:mr-2.5 lg:mr-2.5 xl:mr-2.5 p-2.5 xs:p-2.5 sm:p-2.5 md:p-2.5 lg:p-2.5 xl:p-2.5 pt-2.5 xs:pt-2.5 sm:pt-2.5 md:pt-2.5 lg:pt-2.5 xl:pt-2.5 pb-2.5 xs:pb-2.5 sm:pb-2.5 md:pb-2.5 lg: xl:pb-2.5 pl-2.5 xs:pl-2.5 sm:pl-2.5 md:pl-2.5 lg:pl-2.5 xl:pl-2.5 pr-2.5 xs:pr-2.5 sm:pr-2.5 md:pr-2.5 lg:pr-2.5 xl:pr-2.5 "></div>
   <div class="m-3 sm:m-3 xs:m-3 md:m-3 lg:m-3 xl:m-3 mt-3 xs:mt-3 sm:mt-3 md:mt-3 lg:mt-3 xl:mt-3 mb-3 xs:mb-3 sm:mb-3 md:mb-3 lg:mb-3 xl:mb-3 ml-3 xs:ml-3 sm:ml-3 md:ml-3 lg:ml-3 xl:ml-3 mr-3 xs:mr-3 sm:mr-3 md:mr-3 lg:mr-3 xl:mr-3 p-3 xs:p-3 sm:p-3 md:p-3 lg:p-3 xl:p-3 pt-3 xs:pt-3 sm:pt-3 md:pt-3 lg:pt-3 xl:pt-3 pb-3 xs:pb-3 sm:pb-3 md:pb-3 lg: xl:pb-3 pl-3 xs:pl-3 sm:pl-3 md:pl-3 lg:pl-3 xl:pl-3 pr-3 xs:pr-3 sm:pr-3 md:pr-3 lg:pr-3 xl:pr-3 "></div>
   <div class="m-4 sm:m-4 xs:m-4 md:m-4 lg:m-4 xl:m-4 mt-4 xs:mt-4 sm:mt-4 md:mt-4 lg:mt-4 xl:mt-4 mb-4 xs:mb-4 sm:mb-4 md:mb-4 lg:mb-4 xl:mb-4 ml-4 xs:ml-4 sm:ml-4 md:ml-4 lg:ml-4 xl:ml-4 mr-4 xs:mr-4 sm:mr-4 md:mr-4 lg:mr-4 xl:mr-4 p-4 xs:p-4 sm:p-4 md:p-4 lg:p-4 xl:p-4 pt-4 xs:pt-4 sm:pt-4 md:pt-4 lg:pt-4 xl:pt-4 pb-4 xs:pb-4 sm:pb-4 md:pb-4 lg: xl:pb-4 pl-4 xs:pl-4 sm:pl-4 md:pl-4 lg:pl-4 xl:pl-4 pr-4 xs:pr-4 sm:pr-4 md:pr-4 lg:pr-4 xl:pr-4 "></div>
   <div class="m-5 sm:m-5 xs:m-5 md:m-5 lg:m-5 xl:m-5 mt-5 xs:mt-5 sm:mt-5 md:mt-5 lg:mt-5 xl:mt-5 mb-5 xs:mb-5 sm:mb-5 md:mb-5 lg:mb-5 xl:mb-5 ml-5 xs:ml-5 sm:ml-5 md:ml-5 lg:ml-5 xl:ml-5 mr-5 xs:mr-5 sm:mr-5 md:mr-5 lg:mr-5 xl:mr-5 p-5 xs:p-5 sm:p-5 md:p-5 lg:p-5 xl:p-5 pt-5 xs:pt-5 sm:pt-5 md:pt-5 lg:pt-5 xl:pt-5 pb-5 xs:pb-5 sm:pb-5 md:pb-5 lg: xl:pb-5 pl-5 xs:pl-5 sm:pl-5 md:pl-5 lg:pl-5 xl:pl-5 pr-5 xs:pr-5 sm:pr-5 md:pr-5 lg:pr-5 xl:pr-5 "></div>
   <div class="m-6 sm:m-6 xs:m-6 md:m-6 lg:m-6 xl:m-6 mt-6 xs:mt-6 sm:mt-6 md:mt-6 lg:mt-6 xl:mt-6 mb-6 xs:mb-6 sm:mb-6 md:mb-6 lg:mb-6 xl:mb-6 ml-6 xs:ml-6 sm:ml-6 md:ml-6 lg:ml-6 xl:ml-6 mr-6 xs:mr-6 sm:mr-6 md:mr-6 lg:mr-6 xl:mr-6 p-6 xs:p-6 sm:p-6 md:p-6 lg:p-6 xl:p-6 pt-6 xs:pt-6 sm:pt-6 md:pt-6 lg:pt-6 xl:pt-6 pb-6 xs:pb-6 sm:pb-6 md:pb-6 lg: xl:pb-6 pl-6 xs:pl-6 sm:pl-6 md:pl-6 lg:pl-6 xl:pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-6 lg:pr-6 xl:pr-6 "></div>
   <div class="m-7 sm:m-7 xs:m-7 md:m-7 lg:m-7 xl:m-7 mt-7 xs:mt-7 sm:mt-7 md:mt-7 lg:mt-7 xl:mt-7 mb-7 xs:mb-7 sm:mb-7 md:mb-7 lg:mb-7 xl:mb-7 ml-7 xs:ml-7 sm:ml-7 md:ml-7 lg:ml-7 xl:ml-7 mr-7 xs:mr-7 sm:mr-7 md:mr-7 lg:mr-7 xl:mr-7 p-7 xs:p-7 sm:p-7 md:p-7 lg:p-7 xl:p-7 pt-7 xs:pt-7 sm:pt-7 md:pt-7 lg:pt-7 xl:pt-7 pb-7 xs:pb-7 sm:pb-7 md:pb-7 lg: xl:pb-7 pl-7 xs:pl-7 sm:pl-7 md:pl-7 lg:pl-7 xl:pl-7 pr-7 xs:pr-7 sm:pr-7 md:pr-7 lg:pr-7 xl:pr-7 "></div>
   <div class="m-8 sm:m-8 xs:m-8 md:m-8 lg:m-8 xl:m-8 mt-8 xs:mt-8 sm:mt-8 md:mt-8 lg:mt-8 xl:mt-8 mb-8 xs:mb-8 sm:mb-8 md:mb-8 lg:mb-8 xl:mb-8 ml-8 xs:ml-8 sm:ml-8 md:ml-8 lg:ml-8 xl:ml-8 mr-8 xs:mr-8 sm:mr-8 md:mr-8 lg:mr-8 xl:mr-8 p-8 xs:p-8 sm:p-8 md:p-8 lg:p-8 xl:p-8 pt-8 xs:pt-8 sm:pt-8 md:pt-8 lg:pt-8 xl:pt-8 pb-8 xs:pb-8 sm:pb-8 md:pb-8 lg: xl:pb-8 pl-8 xs:pl-8 sm:pl-8 md:pl-8 lg:pl-8 xl:pl-8 pr-8 xs:pr-8 sm:pr-8 md:pr-8 lg:pr-8 xl:pr-8 "></div>
   <div class="m-9 sm:m-9 xs:m-9 md:m-9 lg:m-9 xl:m-9 mt-9 xs:mt-9 sm:mt-9 md:mt-9 lg:mt-9 xl:mt-9 mb-9 xs:mb-9 sm:mb-9 md:mb-9 lg:mb-9 xl:mb-9 ml-9 xs:ml-9 sm:ml-9 md:ml-9 lg:ml-9 xl:ml-9 mr-9 xs:mr-9 sm:mr-9 md:mr-9 lg:mr-9 xl:mr-9 p-9 xs:p-9 sm:p-9 md:p-9 lg:p-9 xl:p-9 pt-9 xs:pt-9 sm:pt-9 md:pt-9 lg:pt-9 xl:pt-9 pb-9 xs:pb-9 sm:pb-9 md:pb-9 lg: xl:pb-9 pl-9 xs:pl-9 sm:pl-9 md:pl-9 lg:pl-9 xl:pl-9 pr-9 xs:pr-9 sm:pr-9 md:pr-9 lg:pr-9 xl:pr-9 "></div>
    <div class="m-10 sm:m-10 xs:m-10 md:m-10 lg:m-10 xl:m-10 mt-10 xs:mt-10 sm:mt-10 md:mt-10 lg:mt-10 xl:mt-10 mb-10 xs:mb-10 sm:mb-10 md:mb-10 lg:mb-10 xl:mb-10 ml-10 xs:ml-10 sm:ml-10 md:ml-10 lg:ml-10 xl:ml-10 mr-10 xs:mr-10 sm:mr-10 md:mr-10 lg:mr-10 xl:mr-10 p-10 xs:p-10 sm:p-10 md:p-10 lg:p-10 xl:p-10 pt-10 xs:pt-10 sm:pt-10 md:pt-10 lg:pt-10 xl:pt-10 pb-10 xs:pb-10 sm:pb-10 md:pb-10 lg: xl:pb-10 pl-10 xs:pl-10 sm:pl-10 md:pl-10 lg:pl-10 xl:pl-10 pr-10 xs:pr-10 sm:pr-10 md:pr-10 lg:pr-10 xl:pr-10 "></div>
    <div class="m-11 sm:m-11 xs:m-11 md:m-11 lg:m-11 xl:m-11 mt-11 xs:mt-11 sm:mt-11 md:mt-11 lg:mt-11 xl:mt-11 mb-11 xs:mb-11 sm:mb-11 md:mb-11 lg:mb-11 xl:mb-11 ml-11 xs:ml-11 sm:ml-11 md:ml-11 lg:ml-11 xl:ml-11 mr-11 xs:mr-11 sm:mr-11 md:mr-11 lg:mr-11 xl:mr-11 p-11 xs:p-11 sm:p-11 md:p-11 lg:p-11 xl:p-11 pt-11 xs:pt-11 sm:pt-11 md:pt-11 lg:pt-11 xl:pt-11 pb-11 xs:pb-11 sm:pb-11 md:pb-11 lg: xl:pb-11 pl-11 xs:pl-11 sm:pl-11 md:pl-11 lg:pl-11 xl:pl-11 pr-11 xs:pr-11 sm:pr-11 md:pr-11 lg:pr-11 xl:pr-11 "></div>
    <div class="m-12 sm:m-12 xs:m-12 md:m-12 lg:m-12 xl:m-12 mt-12 xs:mt-12 sm:mt-12 md:mt-12 lg:mt-12 xl:mt-12 mb-12 xs:mb-12 sm:mb-12 md:mb-12 lg:mb-12 xl:mb-12 ml-12 xs:ml-12 sm:ml-12 md:ml-12 lg:ml-12 xl:ml-12 mr-12 xs:mr-12 sm:mr-12 md:mr-12 lg:mr-12 xl:mr-12 p-12 xs:p-12 sm:p-12 md:p-12 lg:p-12 xl:p-12 pt-12 xs:pt-12 sm:pt-12 md:pt-12 lg:pt-12 xl:pt-12 pb-12 xs:pb-12 sm:pb-12 md:pb-12 lg: xl:pb-12 pl-12 xs:pl-12 sm:pl-12 md:pl-12 lg:pl-12 xl:pl-12 pr-12 xs:pr-12 sm:pr-12 md:pr-12 lg:pr-12 xl:pr-12 "></div>
    <div class="m-13 sm:m-13 xs:m-13 md:m-13 lg:m-13 xl:m-13 mt-13 xs:mt-13 sm:mt-13 md:mt-13 lg:mt-13 xl:mt-13 mb-13 xs:mb-13 sm:mb-13 md:mb-13 lg:mb-13 xl:mb-13 ml-13 xs:ml-13 sm:ml-13 md:ml-13 lg:ml-13 xl:ml-13 mr-13 xs:mr-13 sm:mr-13 md:mr-13 lg:mr-13 xl:mr-13 p-13 xs:p-13 sm:p-13 md:p-13 lg:p-13 xl:p-13 pt-13 xs:pt-13 sm:pt-13 md:pt-13 lg:pt-13 xl:pt-13 pb-13 xs:pb-13 sm:pb-13 md:pb-13 lg: xl:pb-13 pl-13 xs:pl-13 sm:pl-13 md:pl-13 lg:pl-13 xl:pl-13 pr-13 xs:pr-13 sm:pr-13 md:pr-13 lg:pr-13 xl:pr-13 "></div>
    <div class="m-14 sm:m-14 xs:m-14 md:m-14 lg:m-14 xl:m-14 mt-14 xs:mt-14 sm:mt-14 md:mt-14 lg:mt-14 xl:mt-14 mb-14 xs:mb-14 sm:mb-14 md:mb-14 lg:mb-14 xl:mb-14 ml-14 xs:ml-14 sm:ml-14 md:ml-14 lg:ml-14 xl:ml-14 mr-14 xs:mr-14 sm:mr-14 md:mr-14 lg:mr-14 xl:mr-14 p-14 xs:p-14 sm:p-14 md:p-14 lg:p-14 xl:p-14 pt-14 xs:pt-14 sm:pt-14 md:pt-14 lg:pt-14 xl:pt-14 pb-14 xs:pb-14 sm:pb-14 md:pb-14 lg: xl:pb-14 pl-14 xs:pl-14 sm:pl-14 md:pl-14 lg:pl-14 xl:pl-14 pr-14 xs:pr-14 sm:pr-14 md:pr-14 lg:pr-14 xl:pr-14 "></div>
    <div class="m-15 sm:m-15 xs:m-15 md:m-15 lg:m-15 xl:m-15 mt-15 xs:mt-15 sm:mt-15 md:mt-15 lg:mt-15 xl:mt-15 mb-15 xs:mb-15 sm:mb-15 md:mb-15 lg:mb-15 xl:mb-15 ml-15 xs:ml-15 sm:ml-15 md:ml-15 lg:ml-15 xl:ml-15 mr-15 xs:mr-15 sm:mr-15 md:mr-15 lg:mr-15 xl:mr-15 p-15 xs:p-15 sm:p-15 md:p-15 lg:p-15 xl:p-15 pt-15 xs:pt-15 sm:pt-15 md:pt-15 lg:pt-15 xl:pt-15 pb-15 xs:pb-15 sm:pb-15 md:pb-15 lg: xl:pb-15 pl-15 xs:pl-15 sm:pl-15 md:pl-15 lg:pl-15 xl:pl-15 pr-15 xs:pr-15 sm:pr-15 md:pr-15 lg:pr-15 xl:pr-15 "></div>
    <div class="m-16 sm:m-16 xs:m-16 md:m-16 lg:m-16 xl:m-16 mt-16 xs:mt-16 sm:mt-16 md:mt-16 lg:mt-16 xl:mt-16 mb-16 xs:mb-16 sm:mb-16 md:mb-16 lg:mb-16 xl:mb-16 ml-16 xs:ml-16 sm:ml-16 md:ml-16 lg:ml-16 xl:ml-16 mr-16 xs:mr-16 sm:mr-16 md:mr-16 lg:mr-16 xl:mr-16 p-16 xs:p-16 sm:p-16 md:p-16 lg:p-16 xl:p-16 pt-16 xs:pt-16 sm:pt-16 md:pt-16 lg:pt-16 xl:pt-16 pb-16 xs:pb-16 sm:pb-16 md:pb-16 lg: xl:pb-16 pl-16 xs:pl-16 sm:pl-16 md:pl-16 lg:pl-16 xl:pl-16 pr-16 xs:pr-16 sm:pr-16 md:pr-16 lg:pr-16 xl:pr-16 "></div>
    <div class="m-17 sm:m-17 xs:m-17 md:m-17 lg:m-17 xl:m-17 mt-17 xs:mt-17 sm:mt-17 md:mt-17 lg:mt-17 xl:mt-17 mb-17 xs:mb-17 sm:mb-17 md:mb-17 lg:mb-17 xl:mb-17 ml-17 xs:ml-17 sm:ml-17 md:ml-17 lg:ml-17 xl:ml-17 mr-17 xs:mr-17 sm:mr-17 md:mr-17 lg:mr-17 xl:mr-17 p-17 xs:p-17 sm:p-17 md:p-17 lg:p-17 xl:p-17 pt-17 xs:pt-17 sm:pt-17 md:pt-17 lg:pt-17 xl:pt-17 pb-17 xs:pb-17 sm:pb-17 md:pb-17 lg: xl:pb-17 pl-17 xs:pl-17 sm:pl-17 md:pl-17 lg:pl-17 xl:pl-17 pr-17 xs:pr-17 sm:pr-17 md:pr-17 lg:pr-17 xl:pr-17 "></div>
    <div class="m-18 sm:m-18 xs:m-18 md:m-18 lg:m-18 xl:m-18 mt-18 xs:mt-18 sm:mt-18 md:mt-18 lg:mt-18 xl:mt-18 mb-18 xs:mb-18 sm:mb-18 md:mb-18 lg:mb-18 xl:mb-18 ml-18 xs:ml-18 sm:ml-18 md:ml-18 lg:ml-18 xl:ml-18 mr-18 xs:mr-18 sm:mr-18 md:mr-18 lg:mr-18 xl:mr-18 p-18 xs:p-18 sm:p-18 md:p-18 lg:p-18 xl:p-18 pt-18 xs:pt-18 sm:pt-18 md:pt-18 lg:pt-18 xl:pt-18 pb-18 xs:pb-18 sm:pb-18 md:pb-18 lg: xl:pb-18 pl-18 xs:pl-18 sm:pl-18 md:pl-18 lg:pl-18 xl:pl-18 pr-18 xs:pr-18 sm:pr-18 md:pr-18 lg:pr-18 xl:pr-18 "></div>
    <div class="m-19 sm:m-19 xs:m-19 md:m-19 lg:m-19 xl:m-19 mt-19 xs:mt-19 sm:mt-19 md:mt-19 lg:mt-19 xl:mt-19 mb-19 xs:mb-19 sm:mb-19 md:mb-19 lg:mb-19 xl:mb-19 ml-19 xs:ml-19 sm:ml-19 md:ml-19 lg:ml-19 xl:ml-19 mr-19 xs:mr-19 sm:mr-19 md:mr-19 lg:mr-19 xl:mr-19 p-19 xs:p-19 sm:p-19 md:p-19 lg:p-19 xl:p-19 pt-19 xs:pt-19 sm:pt-19 md:pt-19 lg:pt-19 xl:pt-19 pb-19 xs:pb-19 sm:pb-19 md:pb-19 lg: xl:pb-19 pl-19 xs:pl-19 sm:pl-19 md:pl-19 lg:pl-19 xl:pl-19 pr-19 xs:pr-19 sm:pr-19 md:pr-19 lg:pr-19 xl:pr-19 "></div>
    <div class="m-20 sm:m-20 xs:m-20 md:m-20 lg:m-20 xl:m-20 mt-20 xs:mt-20 sm:mt-20 md:mt-20 lg:mt-20 xl:mt-20 mb-20 xs:mb-20 sm:mb-20 md:mb-20 lg:mb-20 xl:mb-20 ml-20 xs:ml-20 sm:ml-20 md:ml-20 lg:ml-20 xl:ml-20 mr-20 xs:mr-20 sm:mr-20 md:mr-20 lg:mr-20 xl:mr-20 p-20 xs:p-20 sm:p-20 md:p-20 lg:p-20 xl:p-20 pt-20 xs:pt-20 sm:pt-20 md:pt-20 lg:pt-20 xl:pt-20 pb-20 xs:pb-20 sm:pb-20 md:pb-20 lg: xl:pb-20 pl-20 xs:pl-20 sm:pl-20 md:pl-20 lg:pl-20 xl:pl-20 pr-20 xs:pr-20 sm:pr-20 md:pr-20 lg:pr-20 xl:pr-20 "></div>
    <div class="m-21 sm:m-21 xs:m-21 md:m-21 lg:m-21 xl:m-21 mt-21 xs:mt-21 sm:mt-21 md:mt-21 lg:mt-21 xl:mt-21 mb-21 xs:mb-21 sm:mb-21 md:mb-21 lg:mb-21 xl:mb-21 ml-21 xs:ml-21 sm:ml-21 md:ml-21 lg:ml-21 xl:ml-21 mr-21 xs:mr-21 sm:mr-21 md:mr-21 lg:mr-21 xl:mr-21 p-21 xs:p-21 sm:p-21 md:p-21 lg:p-21 xl:p-21 pt-21 xs:pt-21 sm:pt-21 md:pt-21 lg:pt-21 xl:pt-21 pb-21 xs:pb-21 sm:pb-21 md:pb-21 lg: xl:pb-21 pl-21 xs:pl-21 sm:pl-21 md:pl-21 lg:pl-21 xl:pl-21 pr-21 xs:pr-21 sm:pr-21 md:pr-21 lg:pr-21 xl:pr-21 "></div>
    <div class="m-22 sm:m-22 xs:m-22 md:m-22 lg:m-22 xl:m-22 mt-22 xs:mt-22 sm:mt-22 md:mt-22 lg:mt-22 xl:mt-22 mb-22 xs:mb-22 sm:mb-22 md:mb-22 lg:mb-22 xl:mb-22 ml-22 xs:ml-22 sm:ml-22 md:ml-22 lg:ml-22 xl:ml-22 mr-22 xs:mr-22 sm:mr-22 md:mr-22 lg:mr-22 xl:mr-22 p-22 xs:p-22 sm:p-22 md:p-22 lg:p-22 xl:p-22 pt-22 xs:pt-22 sm:pt-22 md:pt-22 lg:pt-22 xl:pt-22 pb-22 xs:pb-22 sm:pb-22 md:pb-22 lg: xl:pb-22 pl-22 xs:pl-22 sm:pl-22 md:pl-22 lg:pl-22 xl:pl-22 pr-22 xs:pr-22 sm:pr-22 md:pr-22 lg:pr-22 xl:pr-22 "></div>
    <div class="m-23 sm:m-23 xs:m-23 md:m-23 lg:m-23 xl:m-23 mt-23 xs:mt-23 sm:mt-23 md:mt-23 lg:mt-23 xl:mt-23 mb-23 xs:mb-23 sm:mb-23 md:mb-23 lg:mb-23 xl:mb-23 ml-23 xs:ml-23 sm:ml-23 md:ml-23 lg:ml-23 xl:ml-23 mr-23 xs:mr-23 sm:mr-23 md:mr-23 lg:mr-23 xl:mr-23 p-23 xs:p-23 sm:p-23 md:p-23 lg:p-23 xl:p-23 pt-23 xs:pt-23 sm:pt-23 md:pt-23 lg:pt-23 xl:pt-23 pb-23 xs:pb-23 sm:pb-23 md:pb-23 lg: xl:pb-23 pl-23 xs:pl-23 sm:pl-23 md:pl-23 lg:pl-23 xl:pl-23 pr-23 xs:pr-23 sm:pr-23 md:pr-23 lg:pr-23 xl:pr-23 "></div>
    <div class="m-24 sm:m-24 xs:m-24 md:m-24 lg:m-24 xl:m-24 mt-24 xs:mt-24 sm:mt-24 md:mt-24 lg:mt-24 xl:mt-24 mb-24 xs:mb-24 sm:mb-24 md:mb-24 lg:mb-24 xl:mb-24 ml-24 xs:ml-24 sm:ml-24 md:ml-24 lg:ml-24 xl:ml-24 mr-24 xs:mr-24 sm:mr-24 md:mr-24 lg:mr-24 xl:mr-24 p-24 xs:p-24 sm:p-24 md:p-24 lg:p-24 xl:p-24 pt-24 xs:pt-24 sm:pt-24 md:pt-24 lg:pt-24 xl:pt-24 pb-24 xs:pb-24 sm:pb-24 md:pb-24 lg: xl:pb-24 pl-24 xs:pl-24 sm:pl-24 md:pl-24 lg:pl-24 xl:pl-24 pr-24 xs:pr-24 sm:pr-24 md:pr-24 lg:pr-24 xl:pr-24 "></div>
    <div class="m-25 sm:m-25 xs:m-25 md:m-25 lg:m-25 xl:m-25 mt-25 xs:mt-25 sm:mt-25 md:mt-25 lg:mt-25 xl:mt-25 mb-25 xs:mb-25 sm:mb-25 md:mb-25 lg:mb-25 xl:mb-25 ml-25 xs:ml-25 sm:ml-25 md:ml-25 lg:ml-25 xl:ml-25 mr-25 xs:mr-25 sm:mr-25 md:mr-25 lg:mr-25 xl:mr-25 p-25 xs:p-25 sm:p-25 md:p-25 lg:p-25 xl:p-25 pt-25 xs:pt-25 sm:pt-25 md:pt-25 lg:pt-25 xl:pt-25 pb-25 xs:pb-25 sm:pb-25 md:pb-25 lg: xl:pb-25 pl-25 xs:pl-25 sm:pl-25 md:pl-25 lg:pl-25 xl:pl-25 pr-25 xs:pr-25 sm:pr-25 md:pr-25 lg:pr-25 xl:pr-25 "></div>
    <div class="m-26 sm:m-26 xs:m-26 md:m-26 lg:m-26 xl:m-26 mt-26 xs:mt-26 sm:mt-26 md:mt-26 lg:mt-26 xl:mt-26 mb-26 xs:mb-26 sm:mb-26 md:mb-26 lg:mb-26 xl:mb-26 ml-26 xs:ml-26 sm:ml-26 md:ml-26 lg:ml-26 xl:ml-26 mr-26 xs:mr-26 sm:mr-26 md:mr-26 lg:mr-26 xl:mr-26 p-26 xs:p-26 sm:p-26 md:p-26 lg:p-26 xl:p-26 pt-26 xs:pt-26 sm:pt-26 md:pt-26 lg:pt-26 xl:pt-26 pb-26 xs:pb-26 sm:pb-26 md:pb-26 lg: xl:pb-26 pl-26 xs:pl-26 sm:pl-26 md:pl-26 lg:pl-26 xl:pl-26 pr-26 xs:pr-26 sm:pr-26 md:pr-26 lg:pr-26 xl:pr-26 "></div>
    <div class="m-27 sm:m-27 xs:m-27 md:m-27 lg:m-27 xl:m-27 mt-27 xs:mt-27 sm:mt-27 md:mt-27 lg:mt-27 xl:mt-27 mb-27 xs:mb-27 sm:mb-27 md:mb-27 lg:mb-27 xl:mb-27 ml-27 xs:ml-27 sm:ml-27 md:ml-27 lg:ml-27 xl:ml-27 mr-27 xs:mr-27 sm:mr-27 md:mr-27 lg:mr-27 xl:mr-27 p-27 xs:p-27 sm:p-27 md:p-27 lg:p-27 xl:p-27 pt-27 xs:pt-27 sm:pt-27 md:pt-27 lg:pt-27 xl:pt-27 pb-27 xs:pb-27 sm:pb-27 md:pb-27 lg: xl:pb-27 pl-27 xs:pl-27 sm:pl-27 md:pl-27 lg:pl-27 xl:pl-27 pr-27 xs:pr-27 sm:pr-27 md:pr-27 lg:pr-27 xl:pr-27 "></div>
    <div class="m-28 sm:m-28 xs:m-28 md:m-28 lg:m-28 xl:m-28 mt-28 xs:mt-28 sm:mt-28 md:mt-28 lg:mt-28 xl:mt-28 mb-28 xs:mb-28 sm:mb-28 md:mb-28 lg:mb-28 xl:mb-28 ml-28 xs:ml-28 sm:ml-28 md:ml-28 lg:ml-28 xl:ml-28 mr-28 xs:mr-28 sm:mr-28 md:mr-28 lg:mr-28 xl:mr-28 p-28 xs:p-28 sm:p-28 md:p-28 lg:p-28 xl:p-28 pt-28 xs:pt-28 sm:pt-28 md:pt-28 lg:pt-28 xl:pt-28 pb-28 xs:pb-28 sm:pb-28 md:pb-28 lg: xl:pb-28 pl-28 xs:pl-28 sm:pl-28 md:pl-28 lg:pl-28 xl:pl-28 pr-28 xs:pr-28 sm:pr-28 md:pr-28 lg:pr-28 xl:pr-28 "></div>
    <div class="m-29 sm:m-29 xs:m-29 md:m-29 lg:m-29 xl:m-29 mt-29 xs:mt-29 sm:mt-29 md:mt-29 lg:mt-29 xl:mt-29 mb-29 xs:mb-29 sm:mb-29 md:mb-29 lg:mb-29 xl:mb-29 ml-29 xs:ml-29 sm:ml-29 md:ml-29 lg:ml-29 xl:ml-29 mr-29 xs:mr-29 sm:mr-29 md:mr-29 lg:mr-29 xl:mr-29 p-29 xs:p-29 sm:p-29 md:p-29 lg:p-29 xl:p-29 pt-29 xs:pt-29 sm:pt-29 md:pt-29 lg:pt-29 xl:pt-29 pb-29 xs:pb-29 sm:pb-29 md:pb-29 lg: xl:pb-29 pl-29 xs:pl-29 sm:pl-29 md:pl-29 lg:pl-29 xl:pl-29 pr-29 xs:pr-29 sm:pr-29 md:pr-29 lg:pr-29 xl:pr-29 "></div>

    <div class="m-30 sm:m-30 xs:m-30 md:m-30 lg:m-30 xl:m-30 mt-30 xs:mt-30 sm:mt-30 md:mt-30 lg:mt-30 xl:mt-30 mb-30 xs:mb-30 sm:mb-30 md:mb-30 lg:mb-30 xl:mb-30 ml-30 xs:ml-30 sm:ml-30 md:ml-30 lg:ml-30 xl:ml-30 mr-30 xs:mr-30 sm:mr-30 md:mr-30 lg:mr-30 xl:mr-30 p-30 xs:p-30 sm:p-30 md:p-30 lg:p-30 xl:p-30 pt-30 xs:pt-30 sm:pt-30 md:pt-30 lg:pt-30 xl:pt-30 pb-30 xs:pb-30 sm:pb-30 md:pb-30 lg: xl:pb-30 pl-30 xs:pl-30 sm:pl-30 md:pl-30 lg:pl-30 xl:pl-30 pr-30 xs:pr-30 sm:pr-30 md:pr-30 lg:pr-30 xl:pr-30 "></div>
    <div class="m-31 sm:m-31 xs:m-31 md:m-31 lg:m-31 xl:m-31 mt-31 xs:mt-31 sm:mt-31 md:mt-31 lg:mt-31 xl:mt-31 mb-31 xs:mb-31 sm:mb-31 md:mb-31 lg:mb-31 xl:mb-31 ml-31 xs:ml-31 sm:ml-31 md:ml-31 lg:ml-31 xl:ml-31 mr-31 xs:mr-31 sm:mr-31 md:mr-31 lg:mr-31 xl:mr-31 p-31 xs:p-31 sm:p-31 md:p-31 lg:p-31 xl:p-31 pt-31 xs:pt-31 sm:pt-31 md:pt-31 lg:pt-31 xl:pt-31 pb-31 xs:pb-31 sm:pb-31 md:pb-31 lg: xl:pb-31 pl-31 xs:pl-31 sm:pl-31 md:pl-31 lg:pl-31 xl:pl-31 pr-31 xs:pr-31 sm:pr-31 md:pr-31 lg:pr-31 xl:pr-31 "></div>
    <div class="m-32 sm:m-32 xs:m-32 md:m-32 lg:m-32 xl:m-32 mt-32 xs:mt-32 sm:mt-32 md:mt-32 lg:mt-32 xl:mt-32 mb-32 xs:mb-32 sm:mb-32 md:mb-32 lg:mb-32 xl:mb-32 ml-32 xs:ml-32 sm:ml-32 md:ml-32 lg:ml-32 xl:ml-32 mr-32 xs:mr-32 sm:mr-32 md:mr-32 lg:mr-32 xl:mr-32 p-32 xs:p-32 sm:p-32 md:p-32 lg:p-32 xl:p-32 pt-32 xs:pt-32 sm:pt-32 md:pt-32 lg:pt-32 xl:pt-32 pb-32 xs:pb-32 sm:pb-32 md:pb-32 lg: xl:pb-32 pl-32 xs:pl-32 sm:pl-32 md:pl-32 lg:pl-32 xl:pl-32 pr-32 xs:pr-32 sm:pr-32 md:pr-32 lg:pr-32 xl:pr-32 "></div>
    <div class="m-33 sm:m-33 xs:m-33 md:m-33 lg:m-33 xl:m-33 mt-33 xs:mt-33 sm:mt-33 md:mt-33 lg:mt-33 xl:mt-33 mb-33 xs:mb-33 sm:mb-33 md:mb-33 lg:mb-33 xl:mb-33 ml-33 xs:ml-33 sm:ml-33 md:ml-33 lg:ml-33 xl:ml-33 mr-33 xs:mr-33 sm:mr-33 md:mr-33 lg:mr-33 xl:mr-33 p-33 xs:p-33 sm:p-33 md:p-33 lg:p-33 xl:p-33 pt-33 xs:pt-33 sm:pt-33 md:pt-33 lg:pt-33 xl:pt-33 pb-33 xs:pb-33 sm:pb-33 md:pb-33 lg: xl:pb-33 pl-33 xs:pl-33 sm:pl-33 md:pl-33 lg:pl-33 xl:pl-33 pr-33 xs:pr-33 sm:pr-33 md:pr-33 lg:pr-33 xl:pr-33 "></div>
    <div class="m-34 sm:m-34 xs:m-34 md:m-34 lg:m-34 xl:m-34 mt-34 xs:mt-34 sm:mt-34 md:mt-34 lg:mt-34 xl:mt-34 mb-34 xs:mb-34 sm:mb-34 md:mb-34 lg:mb-34 xl:mb-34 ml-34 xs:ml-34 sm:ml-34 md:ml-34 lg:ml-34 xl:ml-34 mr-34 xs:mr-34 sm:mr-34 md:mr-34 lg:mr-34 xl:mr-34 p-34 xs:p-34 sm:p-34 md:p-34 lg:p-34 xl:p-34 pt-34 xs:pt-34 sm:pt-34 md:pt-34 lg:pt-34 xl:pt-34 pb-34 xs:pb-34 sm:pb-34 md:pb-34 lg: xl:pb-34 pl-34 xs:pl-34 sm:pl-34 md:pl-34 lg:pl-34 xl:pl-34 pr-34 xs:pr-34 sm:pr-34 md:pr-34 lg:pr-34 xl:pr-34 "></div>
    <div class="m-35 sm:m-35 xs:m-35 md:m-35 lg:m-35 xl:m-35 mt-35 xs:mt-35 sm:mt-35 md:mt-35 lg:mt-35 xl:mt-35 mb-35 xs:mb-35 sm:mb-35 md:mb-35 lg:mb-35 xl:mb-35 ml-35 xs:ml-35 sm:ml-35 md:ml-35 lg:ml-35 xl:ml-35 mr-35 xs:mr-35 sm:mr-35 md:mr-35 lg:mr-35 xl:mr-35 p-35 xs:p-35 sm:p-35 md:p-35 lg:p-35 xl:p-35 pt-35 xs:pt-35 sm:pt-35 md:pt-35 lg:pt-35 xl:pt-35 pb-35 xs:pb-35 sm:pb-35 md:pb-35 lg: xl:pb-35 pl-35 xs:pl-35 sm:pl-35 md:pl-35 lg:pl-35 xl:pl-35 pr-35 xs:pr-35 sm:pr-35 md:pr-35 lg:pr-35 xl:pr-35 "></div>
    <div class="m-36 sm:m-36 xs:m-36 md:m-36 lg:m-36 xl:m-36 mt-36 xs:mt-36 sm:mt-36 md:mt-36 lg:mt-36 xl:mt-36 mb-36 xs:mb-36 sm:mb-36 md:mb-36 lg:mb-36 xl:mb-36 ml-36 xs:ml-36 sm:ml-36 md:ml-36 lg:ml-36 xl:ml-36 mr-36 xs:mr-36 sm:mr-36 md:mr-36 lg:mr-36 xl:mr-36 p-36 xs:p-36 sm:p-36 md:p-36 lg:p-36 xl:p-36 pt-36 xs:pt-36 sm:pt-36 md:pt-36 lg:pt-36 xl:pt-36 pb-36 xs:pb-36 sm:pb-36 md:pb-36 lg: xl:pb-36 pl-36 xs:pl-36 sm:pl-36 md:pl-36 lg:pl-36 xl:pl-36 pr-36 xs:pr-36 sm:pr-36 md:pr-36 lg:pr-36 xl:pr-36 "></div>
    <div class="m-37 sm:m-37 xs:m-37 md:m-37 lg:m-37 xl:m-37 mt-37 xs:mt-37 sm:mt-37 md:mt-37 lg:mt-37 xl:mt-37 mb-37 xs:mb-37 sm:mb-37 md:mb-37 lg:mb-37 xl:mb-37 ml-37 xs:ml-37 sm:ml-37 md:ml-37 lg:ml-37 xl:ml-37 mr-37 xs:mr-37 sm:mr-37 md:mr-37 lg:mr-37 xl:mr-37 p-37 xs:p-37 sm:p-37 md:p-37 lg:p-37 xl:p-37 pt-37 xs:pt-37 sm:pt-37 md:pt-37 lg:pt-37 xl:pt-37 pb-37 xs:pb-37 sm:pb-37 md:pb-37 lg: xl:pb-37 pl-37 xs:pl-37 sm:pl-37 md:pl-37 lg:pl-37 xl:pl-37 pr-37 xs:pr-37 sm:pr-37 md:pr-37 lg:pr-37 xl:pr-37 "></div>
    <div class="m-38 sm:m-38 xs:m-38 md:m-38 lg:m-38 xl:m-38 mt-38 xs:mt-38 sm:mt-38 md:mt-38 lg:mt-38 xl:mt-38 mb-38 xs:mb-38 sm:mb-38 md:mb-38 lg:mb-38 xl:mb-38 ml-38 xs:ml-38 sm:ml-38 md:ml-38 lg:ml-38 xl:ml-38 mr-38 xs:mr-38 sm:mr-38 md:mr-38 lg:mr-38 xl:mr-38 p-38 xs:p-38 sm:p-38 md:p-38 lg:p-38 xl:p-38 pt-38 xs:pt-38 sm:pt-38 md:pt-38 lg:pt-38 xl:pt-38 pb-38 xs:pb-38 sm:pb-38 md:pb-38 lg: xl:pb-38 pl-38 xs:pl-38 sm:pl-38 md:pl-38 lg:pl-38 xl:pl-38 pr-38 xs:pr-38 sm:pr-38 md:pr-38 lg:pr-38 xl:pr-38 "></div>
    <div class="m-39 sm:m-39 xs:m-39 md:m-39 lg:m-39 xl:m-39 mt-39 xs:mt-39 sm:mt-39 md:mt-39 lg:mt-39 xl:mt-39 mb-39 xs:mb-39 sm:mb-39 md:mb-39 lg:mb-39 xl:mb-39 ml-39 xs:ml-39 sm:ml-39 md:ml-39 lg:ml-39 xl:ml-39 mr-39 xs:mr-39 sm:mr-39 md:mr-39 lg:mr-39 xl:mr-39 p-39 xs:p-39 sm:p-39 md:p-39 lg:p-39 xl:p-39 pt-39 xs:pt-39 sm:pt-39 md:pt-39 lg:pt-39 xl:pt-39 pb-39 xs:pb-39 sm:pb-39 md:pb-39 lg: xl:pb-39 pl-39 xs:pl-39 sm:pl-39 md:pl-39 lg:pl-39 xl:pl-39 pr-39 xs:pr-39 sm:pr-39 md:pr-39 lg:pr-39 xl:pr-39 "></div>

    <div class="m-40 sm:m-40 xs:m-40 md:m-40 lg:m-40 xl:m-40 mt-40 xs:mt-40 sm:mt-40 md:mt-40 lg:mt-40 xl:mt-40 mb-40 xs:mb-40 sm:mb-40 md:mb-40 lg:mb-40 xl:mb-40 ml-40 xs:ml-40 sm:ml-40 md:ml-40 lg:ml-40 xl:ml-40 mr-40 xs:mr-40 sm:mr-40 md:mr-40 lg:mr-40 xl:mr-40 p-40 xs:p-40 sm:p-40 md:p-40 lg:p-40 xl:p-40 pt-40 xs:pt-40 sm:pt-40 md:pt-40 lg:pt-40 xl:pt-40 pb-40 xs:pb-40 sm:pb-40 md:pb-40 lg: xl:pb-40 pl-40 xs:pl-40 sm:pl-40 md:pl-40 lg:pl-40 xl:pl-40 pr-40 xs:pr-40 sm:pr-40 md:pr-40 lg:pr-40 xl:pr-40 "></div>
    <div class="m-41 sm:m-41 xs:m-41 md:m-41 lg:m-41 xl:m-41 mt-41 xs:mt-41 sm:mt-41 md:mt-41 lg:mt-41 xl:mt-41 mb-41 xs:mb-41 sm:mb-41 md:mb-41 lg:mb-41 xl:mb-41 ml-41 xs:ml-41 sm:ml-41 md:ml-41 lg:ml-41 xl:ml-41 mr-41 xs:mr-41 sm:mr-41 md:mr-41 lg:mr-41 xl:mr-41 p-41 xs:p-41 sm:p-41 md:p-41 lg:p-41 xl:p-41 pt-41 xs:pt-41 sm:pt-41 md:pt-41 lg:pt-41 xl:pt-41 pb-41 xs:pb-41 sm:pb-41 md:pb-41 lg: xl:pb-41 pl-41 xs:pl-41 sm:pl-41 md:pl-41 lg:pl-41 xl:pl-41 pr-41 xs:pr-41 sm:pr-41 md:pr-41 lg:pr-41 xl:pr-41 "></div>
    <div class="m-42 sm:m-42 xs:m-42 md:m-42 lg:m-42 xl:m-42 mt-42 xs:mt-42 sm:mt-42 md:mt-42 lg:mt-42 xl:mt-42 mb-42 xs:mb-42 sm:mb-42 md:mb-42 lg:mb-42 xl:mb-42 ml-42 xs:ml-42 sm:ml-42 md:ml-42 lg:ml-42 xl:ml-42 mr-42 xs:mr-42 sm:mr-42 md:mr-42 lg:mr-42 xl:mr-42 p-42 xs:p-42 sm:p-42 md:p-42 lg:p-42 xl:p-42 pt-42 xs:pt-42 sm:pt-42 md:pt-42 lg:pt-42 xl:pt-42 pb-42 xs:pb-42 sm:pb-42 md:pb-42 lg: xl:pb-42 pl-42 xs:pl-42 sm:pl-42 md:pl-42 lg:pl-42 xl:pl-42 pr-42 xs:pr-42 sm:pr-42 md:pr-42 lg:pr-42 xl:pr-42 "></div>
    <div class="m-43 sm:m-43 xs:m-43 md:m-43 lg:m-43 xl:m-43 mt-43 xs:mt-43 sm:mt-43 md:mt-43 lg:mt-43 xl:mt-43 mb-43 xs:mb-43 sm:mb-43 md:mb-43 lg:mb-43 xl:mb-43 ml-43 xs:ml-43 sm:ml-43 md:ml-43 lg:ml-43 xl:ml-43 mr-43 xs:mr-43 sm:mr-43 md:mr-43 lg:mr-43 xl:mr-43 p-43 xs:p-43 sm:p-43 md:p-43 lg:p-43 xl:p-43 pt-43 xs:pt-43 sm:pt-43 md:pt-43 lg:pt-43 xl:pt-43 pb-43 xs:pb-43 sm:pb-43 md:pb-43 lg: xl:pb-43 pl-43 xs:pl-43 sm:pl-43 md:pl-43 lg:pl-43 xl:pl-43 pr-43 xs:pr-43 sm:pr-43 md:pr-43 lg:pr-43 xl:pr-43 "></div>
    <div class="m-44 sm:m-44 xs:m-44 md:m-44 lg:m-44 xl:m-44 mt-44 xs:mt-44 sm:mt-44 md:mt-44 lg:mt-44 xl:mt-44 mb-44 xs:mb-44 sm:mb-44 md:mb-44 lg:mb-44 xl:mb-44 ml-44 xs:ml-44 sm:ml-44 md:ml-44 lg:ml-44 xl:ml-44 mr-44 xs:mr-44 sm:mr-44 md:mr-44 lg:mr-44 xl:mr-44 p-44 xs:p-44 sm:p-44 md:p-44 lg:p-44 xl:p-44 pt-44 xs:pt-44 sm:pt-44 md:pt-44 lg:pt-44 xl:pt-44 pb-44 xs:pb-44 sm:pb-44 md:pb-44 lg: xl:pb-44 pl-44 xs:pl-44 sm:pl-44 md:pl-44 lg:pl-44 xl:pl-44 pr-44 xs:pr-44 sm:pr-44 md:pr-44 lg:pr-44 xl:pr-44 "></div>
    <div class="m-45 sm:m-45 xs:m-45 md:m-45 lg:m-45 xl:m-45 mt-45 xs:mt-45 sm:mt-45 md:mt-45 lg:mt-45 xl:mt-45 mb-45 xs:mb-45 sm:mb-45 md:mb-45 lg:mb-45 xl:mb-45 ml-45 xs:ml-45 sm:ml-45 md:ml-45 lg:ml-45 xl:ml-45 mr-45 xs:mr-45 sm:mr-45 md:mr-45 lg:mr-45 xl:mr-45 p-45 xs:p-45 sm:p-45 md:p-45 lg:p-45 xl:p-45 pt-45 xs:pt-45 sm:pt-45 md:pt-45 lg:pt-45 xl:pt-45 pb-45 xs:pb-45 sm:pb-45 md:pb-45 lg: xl:pb-45 pl-45 xs:pl-45 sm:pl-45 md:pl-45 lg:pl-45 xl:pl-45 pr-45 xs:pr-45 sm:pr-45 md:pr-45 lg:pr-45 xl:pr-45 "></div>
    <div class="m-46 sm:m-46 xs:m-46 md:m-46 lg:m-46 xl:m-46 mt-46 xs:mt-46 sm:mt-46 md:mt-46 lg:mt-46 xl:mt-46 mb-46 xs:mb-46 sm:mb-46 md:mb-46 lg:mb-46 xl:mb-46 ml-46 xs:ml-46 sm:ml-46 md:ml-46 lg:ml-46 xl:ml-46 mr-46 xs:mr-46 sm:mr-46 md:mr-46 lg:mr-46 xl:mr-46 p-46 xs:p-46 sm:p-46 md:p-46 lg:p-46 xl:p-46 pt-46 xs:pt-46 sm:pt-46 md:pt-46 lg:pt-46 xl:pt-46 pb-46 xs:pb-46 sm:pb-46 md:pb-46 lg: xl:pb-46 pl-46 xs:pl-46 sm:pl-46 md:pl-46 lg:pl-46 xl:pl-46 pr-46 xs:pr-46 sm:pr-46 md:pr-46 lg:pr-46 xl:pr-46 "></div>
    <div class="m-47 sm:m-47 xs:m-47 md:m-47 lg:m-47 xl:m-47 mt-47 xs:mt-47 sm:mt-47 md:mt-47 lg:mt-47 xl:mt-47 mb-47 xs:mb-47 sm:mb-47 md:mb-47 lg:mb-47 xl:mb-47 ml-47 xs:ml-47 sm:ml-47 md:ml-47 lg:ml-47 xl:ml-47 mr-47 xs:mr-47 sm:mr-47 md:mr-47 lg:mr-47 xl:mr-47 p-47 xs:p-47 sm:p-47 md:p-47 lg:p-47 xl:p-47 pt-47 xs:pt-47 sm:pt-47 md:pt-47 lg:pt-47 xl:pt-47 pb-47 xs:pb-47 sm:pb-47 md:pb-47 lg: xl:pb-47 pl-47 xs:pl-47 sm:pl-47 md:pl-47 lg:pl-47 xl:pl-47 pr-47 xs:pr-47 sm:pr-47 md:pr-47 lg:pr-47 xl:pr-47 "></div>
    <div class="m-48 sm:m-48 xs:m-48 md:m-48 lg:m-48 xl:m-48 mt-48 xs:mt-48 sm:mt-48 md:mt-48 lg:mt-48 xl:mt-48 mb-48 xs:mb-48 sm:mb-48 md:mb-48 lg:mb-48 xl:mb-48 ml-48 xs:ml-48 sm:ml-48 md:ml-48 lg:ml-48 xl:ml-48 mr-48 xs:mr-48 sm:mr-48 md:mr-48 lg:mr-48 xl:mr-48 p-48 xs:p-48 sm:p-48 md:p-48 lg:p-48 xl:p-48 pt-48 xs:pt-48 sm:pt-48 md:pt-48 lg:pt-48 xl:pt-48 pb-48 xs:pb-48 sm:pb-48 md:pb-48 lg: xl:pb-48 pl-48 xs:pl-48 sm:pl-48 md:pl-48 lg:pl-48 xl:pl-48 pr-48 xs:pr-48 sm:pr-48 md:pr-48 lg:pr-48 xl:pr-48 "></div>
    <div class="m-49 sm:m-49 xs:m-49 md:m-49 lg:m-49 xl:m-49 mt-49 xs:mt-49 sm:mt-49 md:mt-49 lg:mt-49 xl:mt-49 mb-49 xs:mb-49 sm:mb-49 md:mb-49 lg:mb-49 xl:mb-49 ml-49 xs:ml-49 sm:ml-49 md:ml-49 lg:ml-49 xl:ml-49 mr-49 xs:mr-49 sm:mr-49 md:mr-49 lg:mr-49 xl:mr-49 p-49 xs:p-49 sm:p-49 md:p-49 lg:p-49 xl:p-49 pt-49 xs:pt-49 sm:pt-49 md:pt-49 lg:pt-49 xl:pt-49 pb-49 xs:pb-49 sm:pb-49 md:pb-49 lg: xl:pb-49 pl-49 xs:pl-49 sm:pl-49 md:pl-49 lg:pl-49 xl:pl-49 pr-49 xs:pr-49 sm:pr-49 md:pr-49 lg:pr-49 xl:pr-49 "></div>
   <div class="border-b-4 border-sky-500 b">Border</div>
</div>



<div>
  <div class="max-w-0 xs:max-w-0 sm:max-w-0 md:max-w-0 lg:max-w-0 xl:max-w-0"></div>
  <div class="max-w-none xs:max-w-none sm:max-w-none md:max-w-none lg:max-w-none xl:max-w-none"></div>
  <div class="max-w-xs xs:max-w-xs sm:max-w-xs md:max-w-xs lg:max-w-xs xl:max-w-xs"></div>
  <div class="max-w-sm xs:max-w-sm sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm"></div>
  <div class="max-w-md xs:max-w-md sm:max-w-md md:max-w-md lg:max-w-md xl:max-w-md"></div>
  <div class="max-w-lg xs:max-w-lg sm:max-w-lg md:max-w-lg lg:max-w-lg xl:max-w-lg"></div>
  <div class="max-w-xl xs:max-w-xl sm:max-w-xl md:max-w-xl lg:max-w-xl xl:max-w-xl"></div>
  <div class="max-w-2xl xs:max-w-2xl sm:max-w-2xl md:max-w-2xl lg:max-w-2xl xl:max-w-2xl"></div>
  <div class="max-w-3xl xs:max-w-3xl sm:max-w-3xl md:max-w-3xl lg:max-w-3xl xl:max-w-3xl"></div>
  <div class="max-w-4xl xs:max-w-4xl sm:max-w-4xl md:max-w-4xl lg:max-w-4xl xl:max-w-4xl"></div>
  <div class="max-w-5xl xs:max-w-5xl sm:max-w-5xl md:max-w-5xl lg:max-w-5xl xl:max-w-5xl"></div>
  <div class="max-w-6xl xs:max-w-6xl sm:max-w-6xl md:max-w-6xl lg:max-w-6xl xl:max-w-6xl"></div>
  <div class="max-w-7xl xs:max-w-7xl sm:max-w-7xl md:max-w-7xl lg:max-w-7xl xl:max-w-7xl"></div>
  <div class="max-w-full xs:max-w-full sm:max-w-full md:max-w-full lg:max-w-full xl:max-w-full"></div>
  <div class="max-w-min xs:max-w-min sm:max-w-min md:max-w-min lg:max-w-min xl:max-w-min"></div>
  <div class="max-w-max xs:max-w-max sm:max-w-max md:max-w-max lg:max-w-max xl:max-w-max"></div>
  <div class="max-w-fit xs:max-w-fit sm:max-w-fit md:max-w-fit lg:max-w-fit xl:max-w-fit"></div>
  <div class="max-w-prose xs:max-w-prose sm:max-w-prose md:max-w-prose lg:max-w-prose xl:max-w-prose"></div>
  <div class="max-w-screen-sm xs:max-w-screen-sm sm:max-w-screen-sm md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm"></div>
  <div class="max-w-screen-md xs:max-w-screen-md sm:max-w-screen-md md:max-w-screen-md lg:max-w-screen-md xl:max-w-screen-md"></div>
  <div class="max-w-screen-lg xs:max-w-screen-lg sm:max-w-screen-lg md:max-w-screen-lg lg:max-w-screen-lg xl:max-w-screen-lg"></div>
  <div class="max-w-screen-xl xs:max-w-screen-xl sm:max-w-screen-xl md:max-w-screen-xl lg:max-w-screen-xl xl:max-w-screen-xl"></div>
  <div class="max-w-screen-2xl xs:max-w-screen-2xl sm:max-w-screen-2xl md:max-w-screen-2xl lg:max-w-screen-2xl xl:max-w-screen-2xl"></div>
</div>

<div>
  <div class="min-w-0 xs:min-w-0 sm:min-w-0 md:min-w-0 lg:min-w-0 xl:min-w-0"></div>
  <div class="min-w-none xs:min-w-none sm:min-w-none md:min-w-none lg:min-w-none xl:min-w-none"></div>
  <div class="min-w-xs xs:min-w-xs sm:min-w-xs md:min-w-xs lg:min-w-xs xl:min-w-xs"></div>
  <div class="min-w-sm xs:min-w-sm sm:min-w-sm md:min-w-sm lg:min-w-sm xl:min-w-sm"></div>
  <div class="min-w-md xs:min-w-md sm:min-w-md md:min-w-md lg:min-w-md xl:min-w-md"></div>
  <div class="min-w-lg xs:min-w-lg sm:min-w-lg md:min-w-lg lg:min-w-lg xl:min-w-lg"></div>
  <div class="min-w-xl xs:min-w-xl sm:min-w-xl md:min-w-xl lg:min-w-xl xl:min-w-xl"></div>
  <div class="min-w-2xl xs:min-w-2xl sm:min-w-2xl md:min-w-2xl lg:min-w-2xl xl:min-w-2xl"></div>
  <div class="min-w-3xl xs:min-w-3xl sm:min-w-3xl md:min-w-3xl lg:min-w-3xl xl:min-w-3xl"></div>
  <div class="min-w-4xl xs:min-w-4xl sm:min-w-4xl md:min-w-4xl lg:min-w-4xl xl:min-w-4xl"></div>
  <div class="min-w-5xl xs:min-w-5xl sm:min-w-5xl md:min-w-5xl lg:min-w-5xl xl:min-w-5xl"></div>
  <div class="min-w-6xl xs:min-w-6xl sm:min-w-6xl md:min-w-6xl lg:min-w-6xl xl:min-w-6xl"></div>
  <div class="min-w-7xl xs:min-w-7xl sm:min-w-7xl md:min-w-7xl lg:min-w-7xl xl:min-w-7xl"></div>
  <div class="min-w-full xs:min-w-full sm:min-w-full md:min-w-full lg:min-w-full xl:min-w-full"></div>
  <div class="min-w-min xs:min-w-min sm:min-w-min md:min-w-min lg:min-w-min xl:min-w-min"></div>
  <div class="min-w-min xs:min-w-min sm:min-w-min md:min-w-min lg:min-w-min xl:min-w-min"></div>
  <div class="min-w-fit xs:min-w-fit sm:min-w-fit md:min-w-fit lg:min-w-fit xl:min-w-fit"></div>
  <div class="min-w-prose xs:min-w-prose sm:min-w-prose md:min-w-prose lg:min-w-prose xl:min-w-prose"></div>
  <div class="min-w-screen-sm xs:min-w-screen-sm sm:min-w-screen-sm md:min-w-screen-sm lg:min-w-screen-sm xl:min-w-screen-sm"></div>
  <div class="min-w-screen-md xs:min-w-screen-md sm:min-w-screen-md md:min-w-screen-md lg:min-w-screen-md xl:min-w-screen-md"></div>
  <div class="min-w-screen-lg xs:min-w-screen-lg sm:min-w-screen-lg md:min-w-screen-lg lg:min-w-screen-lg xl:min-w-screen-lg"></div>
  <div class="min-w-screen-xl xs:min-w-screen-xl sm:min-w-screen-xl md:min-w-screen-xl lg:min-w-screen-xl xl:min-w-screen-xl"></div>
  <div class="min-w-screen-2xl xs:min-w-screen-2xl sm:min-w-screen-2xl md:min-w-screen-2xl lg:min-w-screen-2xl xl:min-w-screen-2xl"></div>
</div>


<div>
  <div class="max-h-0 xs:max-h-0 sm:max-h-0 md:max-h-0 lg:max-h-0 xl:max-h-0"></div>
  <div class="max-h-none xs:max-h-none sm:max-h-none md:max-h-none lg:max-h-none xl:max-h-none"></div>
  <div class="max-h-xs xs:max-h-xs sm:max-h-xs md:max-h-xs lg:max-h-xs xl:max-h-xs"></div>
  <div class="max-h-sm xs:max-h-sm sm:max-h-sm md:max-h-sm lg:max-h-sm xl:max-h-sm"></div>
  <div class="max-h-md xs:max-h-md sm:max-h-md md:max-h-md lg:max-h-md xl:max-h-md"></div>
  <div class="max-h-lg xs:max-h-lg sm:max-h-lg md:max-h-lg lg:max-h-lg xl:max-h-lg"></div>
  <div class="max-h-xl xs:max-h-xl sm:max-h-xl md:max-h-xl lg:max-h-xl xl:max-h-xl"></div>
  <div class="max-h-2xl xs:max-h-2xl sm:max-h-2xl md:max-h-2xl lg:max-h-2xl xl:max-h-2xl"></div>
  <div class="max-h-3xl xs:max-h-3xl sm:max-h-3xl md:max-h-3xl lg:max-h-3xl xl:max-h-3xl"></div>
  <div class="max-h-4xl xs:max-h-4xl sm:max-h-4xl md:max-h-4xl lg:max-h-4xl xl:max-h-4xl"></div>
  <div class="max-h-5xl xs:max-h-5xl sm:max-h-5xl md:max-h-5xl lg:max-h-5xl xl:max-h-5xl"></div>
  <div class="max-h-6xl xs:max-h-6xl sm:max-h-6xl md:max-h-6xl lg:max-h-6xl xl:max-h-6xl"></div>
  <div class="max-h-7xl xs:max-h-7xl sm:max-h-7xl md:max-h-7xl lg:max-h-7xl xl:max-h-7xl"></div>
  <div class="max-h-full xs:max-h-full sm:max-h-full md:max-h-full lg:max-h-full xl:max-h-full"></div>
  <div class="max-h-min xs:max-h-min sm:max-h-min md:max-h-min lg:max-h-min xl:max-h-min"></div>
  <div class="max-h-max xs:max-h-max sm:max-h-max md:max-h-max lg:max-h-max xl:max-h-max"></div>
  <div class="max-h-fit xs:max-h-fit sm:max-h-fit md:max-h-fit lg:max-h-fit xl:max-h-fit"></div>
  <div class="max-h-prose xs:max-h-prose sm:max-h-prose md:max-h-prose lg:max-h-prose xl:max-h-prose"></div>
  <div class="max-h-screen-sm xs:max-h-screen-sm sm:max-h-screen-sm md:max-h-screen-sm lg:max-h-screen-sm xl:max-h-screen-sm"></div>
  <div class="max-h-screen-md xs:max-h-screen-md sm:max-h-screen-md md:max-h-screen-md lg:max-h-screen-md xl:max-h-screen-md"></div>
  <div class="max-h-screen-lg xs:max-h-screen-lg sm:max-h-screen-lg md:max-h-screen-lg lg:max-h-screen-lg xl:max-h-screen-lg"></div>
  <div class="max-h-screen-xl xs:max-h-screen-xl sm:max-h-screen-xl md:max-h-screen-xl lg:max-h-screen-xl xl:max-h-screen-xl"></div>
  <div class="max-h-screen-2xl xs:max-h-screen-2xl sm:max-h-screen-2xl md:max-h-screen-2xl lg:max-h-screen-2xl xl:max-h-screen-2xl"></div>
</div>

<div>
  <div class="min-h-0 xs:min-h-0 sm:min-h-0 md:min-h-0 lg:min-h-0 xl:min-h-0"></div>
  <div class="min-h-none xs:min-h-none sm:min-h-none md:min-h-none lg:min-h-none xl:min-h-none"></div>
  <div class="min-h-xs xs:min-h-xs sm:min-h-xs md:min-h-xs lg:min-h-xs xl:min-h-xs"></div>
  <div class="min-h-sm xs:min-h-sm sm:min-h-sm md:min-h-sm lg:min-h-sm xl:min-h-sm"></div>
  <div class="min-h-md xs:min-h-md sm:min-h-md md:min-h-md lg:min-h-md xl:min-h-md"></div>
  <div class="min-h-lg xs:min-h-lg sm:min-h-lg md:min-h-lg lg:min-h-lg xl:min-h-lg"></div>
  <div class="min-h-xl xs:min-h-xl sm:min-h-xl md:min-h-xl lg:min-h-xl xl:min-h-xl"></div>
  <div class="min-h-2xl xs:min-h-2xl sm:min-h-2xl md:min-h-2xl lg:min-h-2xl xl:min-h-2xl"></div>
  <div class="min-h-3xl xs:min-h-3xl sm:min-h-3xl md:min-h-3xl lg:min-h-3xl xl:min-h-3xl"></div>
  <div class="min-h-4xl xs:min-h-4xl sm:min-h-4xl md:min-h-4xl lg:min-h-4xl xl:min-h-4xl"></div>
  <div class="min-h-5xl xs:min-h-5xl sm:min-h-5xl md:min-h-5xl lg:min-h-5xl xl:min-h-5xl"></div>
  <div class="min-h-6xl xs:min-h-6xl sm:min-h-6xl md:min-h-6xl lg:min-h-6xl xl:min-h-6xl"></div>
  <div class="min-h-7xl xs:min-h-7xl sm:min-h-7xl md:min-h-7xl lg:min-h-7xl xl:min-h-7xl"></div>
  <div class="min-h-full xs:min-h-full sm:min-h-full md:min-h-full lg:min-h-full xl:min-h-full"></div>
  <div class="min-h-min xs:min-h-min sm:min-h-min md:min-h-min lg:min-h-min xl:min-h-min"></div>
  <div class="min-h-min xs:min-h-min sm:min-h-min md:min-h-min lg:min-h-min xl:min-h-min"></div>
  <div class="min-h-fit xs:min-h-fit sm:min-h-fit md:min-h-fit lg:min-h-fit xl:min-h-fit"></div>
  <div class="min-h-prose xs:min-h-prose sm:min-h-prose md:min-h-prose lg:min-h-prose xl:min-h-prose"></div>
  <div class="min-h-screen-sm xs:min-h-screen-sm sm:min-h-screen-sm md:min-h-screen-sm lg:min-h-screen-sm xl:min-h-screen-sm"></div>
  <div class="min-h-screen-md xs:min-h-screen-md sm:min-h-screen-md md:min-h-screen-md lg:min-h-screen-md xl:min-h-screen-md"></div>
  <div class="min-h-screen-lg xs:min-h-screen-lg sm:min-h-screen-lg md:min-h-screen-lg lg:min-h-screen-lg xl:min-h-screen-lg"></div>
  <div class="min-h-screen-xl xs:min-h-screen-xl sm:min-h-screen-xl md:min-h-screen-xl lg:min-h-screen-xl xl:min-h-screen-xl"></div>
  <div class="min-h-screen-2xl xs:min-h-screen-2xl sm:min-h-screen-2xl md:min-h-screen-2xl lg:min-h-screen-2xl xl:min-h-screen-2xl"></div>
</div>

<div>
<div class="w-0 min-w-0 max-w-0 xs:w-0 sm:w-0 md:w-0 lg:w-0 xs:min-w-0 sm:min-w-0 md:min-w-0 lg:min-w-0 xs:max-w-0 sm:max-w-0 md:max-w-0 lg:max-w-0"></div>
<div class="w-px min-w-px max-w-px xs:w-px sm:w-px md:w-px lg:w-px xs:min-w-px sm:min-w-px md:min-w-px lg:min-w-px xs:max-w-px sm:max-w-px md:max-w-px lg:max-w-px"></div>
<div class="w-0.5 min-w-0.5 max-w-0.5 xs:w-0.5 sm:w-0.5 md:w-0.5 lg:w-0.5 xs:min-w-0.5 sm:min-w-0.5 md:min-w-0.5 lg:min-w-0.5 xs:max-w-0.5 sm:max-w-0.5 md:max-w-0.5 lg:max-w-0.5"></div>
<div class="w-1 min-w-1 max-w-1 xs:w-1 sm:w-1 md:w-1 lg:w-1 xs:min-w-1 sm:min-w-1 md:min-w-1 lg:min-w-1 xs:max-w-1 sm:max-w-1 md:max-w-1 lg:max-w-1"></div>
<div class="w-1.5 min-w-1.5 max-w-1.5 xs:w-1.5 sm:w-1.5 md:w-1.5 lg:w-1.5 xs:min-w-1.5 sm:min-w-1.5 md:min-w-1.5 lg:min-w-1.5 xs:max-w-1.5 sm:max-w-1.5 md:max-w-1.5 lg:max-w-1.5"></div>
<div class="w-2 min-w-2 max-w-2 xs:w-2 sm:w-2 md:w-2 lg:w-2 xs:min-w-2 sm:min-w-2 md:min-w-2 lg:min-w-2 xs:max-w-2 sm:max-w-2 md:max-w-2 lg:max-w-2"></div>
<div class="w-2.5 min-w-2.5 max-w-2.5 xs:w-2.5 sm:w-2.5 md:w-2.5 lg:w-2.5 xs:min-w-2.5 sm:min-w-2.5 md:min-w-2.5 lg:min-w-2.5 xs:max-w-2.5 sm:max-w-2.5 md:max-w-2.5 lg:max-w-2.5"></div>
<div class="w-3 min-w-3 max-w-3 xs:w-3 sm:w-3 md:w-3 lg:w-3 xs:min-w-3 sm:min-w-3 md:min-w-3 lg:min-w-3 xs:max-w-3 sm:max-w-3 md:max-w-3 lg:max-w-3"></div>
<div class="w-3.5 min-w-3.5 max-w-3.5 xs:w-3.5 sm:w-3.5 md:w-3.5 lg:w-3.5 xs:min-w-3.5 sm:min-w-3.5 md:min-w-3.5 lg:min-w-3.5 xs:max-w-3.5 sm:max-w-3.5 md:max-w-3.5 lg:max-w-3.5"></div>
<div class="w-4 min-w-4 max-w-4 xs:w-4 sm:w-4 md:w-4 lg:w-4 xs:min-w-4 sm:min-w-4 md:min-w-4 lg:min-w-4 xs:max-w-4 sm:max-w-4 md:max-w-4 lg:max-w-4"></div>
<div class="w-5 min-w-5 max-w-5 xs:w-5 sm:w-5 md:w-5 lg:w-5 xs:min-w-5 sm:min-w-5 md:min-w-5 lg:min-w-5 xs:max-w-5 sm:max-w-5 md:max-w-5 lg:max-w-5"></div>
<div class="w-6 min-w-6 max-w-6 xs:w-6 sm:w-6 md:w-6 lg:w-6 xs:min-w-6 sm:min-w-6 md:min-w-6 lg:min-w-6 xs:max-w-6 sm:max-w-6 md:max-w-6 lg:max-w-6"></div>
<div class="w-7 min-w-7 max-w-7 xs:w-7 sm:w-7 md:w-7 lg:w-7 xs:min-w-7 sm:min-w-7 md:min-w-7 lg:min-w-7 xs:max-w-7 sm:max-w-7 md:max-w-7 lg:max-w-7"></div>
<div class="w-8 min-w-8 max-w-8 xs:w-8 sm:w-8 md:w-8 lg:w-8 xs:min-w-8 sm:min-w-8 md:min-w-8 lg:min-w-8 xs:max-w-8 sm:max-w-8 md:max-w-8 lg:max-w-8"></div>
<div class="w-9 min-w-9 max-w-9 xs:w-9 sm:w-9 md:w-9 lg:w-9 xs:min-w-9 sm:min-w-9 md:min-w-9 lg:min-w-9 xs:max-w-9 sm:max-w-9 md:max-w-9 lg:max-w-9"></div>
<div class="w-10 min-w-10 max-w-10 xs:w-10 sm:w-10 md:w-10 lg:w-10 xs:min-w-10 sm:min-w-10 md:min-w-10 lg:min-w-10 xs:max-w-10 sm:max-w-10 md:max-w-10 lg:max-w-10"></div>
<div class="w-11 min-w-11 max-w-11 xs:w-11 sm:w-11 md:w-11 lg:w-11 xs:min-w-11 sm:min-w-11 md:min-w-11 lg:min-w-11 xs:max-w-11 sm:max-w-11 md:max-w-11 lg:max-w-11"></div>
<div class="w-12 min-w-12 max-w-12 xs:w-12 sm:w-12 md:w-12 lg:w-12 xs:min-w-12 sm:min-w-12 md:min-w-12 lg:min-w-12 xs:max-w-12 sm:max-w-12 md:max-w-12 lg:max-w-12"></div>
<div class="w-14 min-w-14 max-w-14 xs:w-14 sm:w-14 md:w-14 lg:w-14 xs:min-w-14 sm:min-w-14 md:min-w-14 lg:min-w-14 xs:max-w-14 sm:max-w-14 md:max-w-14 lg:max-w-14"></div>
<div class="w-16 min-w-16 max-w-16 xs:w-16 sm:w-16 md:w-16 lg:w-16 xs:min-w-16 sm:min-w-16 md:min-w-16 lg:min-w-16 xs:max-w-16 sm:max-w-16 md:max-w-16 lg:max-w-16"></div>
<div class="w-20 min-w-20 max-w-20 xs:w-20 sm:w-20 md:w-20 lg:w-20 xs:min-w-20 sm:min-w-20 md:min-w-20 lg:min-w-20 xs:max-w-20 sm:max-w-20 md:max-w-20 lg:max-w-20"></div>
<div class="w-24 min-w-24 max-w-24 xs:w-24 sm:w-24 md:w-24 lg:w-24 xs:min-w-24 sm:min-w-24 md:min-w-24 lg:min-w-24 xs:max-w-24 sm:max-w-24 md:max-w-24 lg:max-w-24"></div>
<div class="w-28 min-w-28 max-w-28 xs:w-28 sm:w-28 md:w-28 lg:w-28 xs:min-w-28 sm:min-w-28 md:min-w-28 lg:min-w-28 xs:max-w-28 sm:max-w-28 md:max-w-28 lg:max-w-28"></div>
<div class="w-32 min-w-32 max-w-32 xs:w-32 sm:w-32 md:w-32 lg:w-32 xs:min-w-32 sm:min-w-32 md:min-w-32 lg:min-w-32 xs:max-w-32 sm:max-w-32 md:max-w-32 lg:max-w-32"></div>
<div class="w-36 min-w-36 max-w-36 xs:w-36 sm:w-36 md:w-36 lg:w-36 xs:min-w-36 sm:min-w-36 md:min-w-36 lg:min-w-36 xs:max-w-36 sm:max-w-36 md:max-w-36 lg:max-w-36"></div>
<div class="w-40 min-w-40 max-w-40 xs:w-40 sm:w-40 md:w-40 lg:w-40 xs:min-w-40 sm:min-w-40 md:min-w-40 lg:min-w-40 xs:max-w-40 sm:max-w-40 md:max-w-40 lg:max-w-40"></div>
<div class="w-44 min-w-44 max-w-44 xs:w-44 sm:w-44 md:w-44 lg:w-44 xs:min-w-44 sm:min-w-44 md:min-w-44 lg:min-w-44 xs:max-w-44 sm:max-w-44 md:max-w-44 lg:max-w-44"></div>
<div class="w-48 min-w-48 max-w-48 xs:w-48 sm:w-48 md:w-48 lg:w-48 xs:min-w-48 sm:min-w-48 md:min-w-48 lg:min-w-48 xs:max-w-48 sm:max-w-48 md:max-w-48 lg:max-w-48"></div>
<div class="w-52 min-w-52 max-w-52 xs:w-52 sm:w-52 md:w-52 lg:w-52 xs:min-w-52 sm:min-w-52 md:min-w-52 lg:min-w-52 xs:max-w-52 sm:max-w-52 md:max-w-52 lg:max-w-52"></div>
<div class="w-56 min-w-56 max-w-56 xs:w-56 sm:w-56 md:w-56 lg:w-56 xs:min-w-56 sm:min-w-56 md:min-w-56 lg:min-w-56 xs:max-w-56 sm:max-w-56 md:max-w-56 lg:max-w-56"></div>
<div class="w-60 min-w-60 max-w-60 xs:w-60 sm:w-60 md:w-60 lg:w-60 xs:min-w-60 sm:min-w-60 md:min-w-60 lg:min-w-60 xs:max-w-60 sm:max-w-60 md:max-w-60 lg:max-w-60"></div>
<div class="w-64 min-w-64 max-w-64 xs:w-64 sm:w-64 md:w-64 lg:w-64 xs:min-w-64 sm:min-w-64 md:min-w-64 lg:min-w-64 xs:max-w-64 sm:max-w-64 md:max-w-64 lg:max-w-64"></div>
<div class="w-72 min-w-72 max-w-72 xs:w-72 sm:w-72 md:w-72 lg:w-72 xs:min-w-72 sm:min-w-72 md:min-w-72 lg:min-w-72 xs:max-w-72 sm:max-w-72 md:max-w-72 lg:max-w-72"></div>
<div class="w-80 min-w-80 max-w-80 xs:w-80 sm:w-80 md:w-80 lg:w-80 xs:min-w-80 sm:min-w-80 md:min-w-80 lg:min-w-80 xs:max-w-80 sm:max-w-80 md:max-w-80 lg:max-w-80"></div>
<div class="w-96 min-w-96 max-w-96 xs:w-96 sm:w-96 md:w-96 lg:w-96 xs:min-w-96 sm:min-w-96 md:min-w-96 lg:min-w-96 xs:max-w-96 sm:max-w-96 md:max-w-96 lg:max-w-96"></div>
<div class="w-auto min-w-auto max-w-auto xs:w-auto sm:w-auto md:w-auto lg:w-auto xs:min-w-auto sm:min-w-auto md:min-w-auto lg:min-w-auto xs:max-w-auto sm:max-w-auto md:max-w-auto lg:max-w-auto"></div>
<div class="w-1/2 min-w-1/2 max-w-1/2 xs:w-1/2 sm:w-1/2 md:w-1/2 lg:w-1/2 xs:min-w-1/2 sm:min-w-1/2 md:min-w-1/2 lg:min-w-1/2 xs:max-w-1/2 sm:max-w-1/2 md:max-w-1/2 lg:max-w-1/2"></div>
<div class="w-1/3 min-w-1/3 max-w-1/3 xs:w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3 xs:min-w-1/3 sm:min-w-1/3 md:min-w-1/3 lg:min-w-1/3 xs:max-w-1/3 sm:max-w-1/3 md:max-w-1/3 lg:max-w-1/3"></div>
<div class="w-2/3 min-w-2/3 max-w-2/3 xs:w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 xs:min-w-2/3 sm:min-w-2/3 md:min-w-2/3 lg:min-w-2/3 xs:max-w-2/3 sm:max-w-2/3 md:max-w-2/3 lg:max-w-2/3"></div>
<div class="w-1/4 min-w-1/4 max-w-1/4 xs:w-1/4 sm:w-1/4 md:w-1/4 lg:w-1/4 xs:min-w-1/4 sm:min-w-1/4 md:min-w-1/4 lg:min-w-1/4 xs:max-w-1/4 sm:max-w-1/4 md:max-w-1/4 lg:max-w-1/4"></div>
<div class="w-2/4 min-w-2/4 max-w-2/4 xs:w-2/4 sm:w-2/4 md:w-2/4 lg:w-2/4 xs:min-w-2/4 sm:min-w-2/4 md:min-w-2/4 lg:min-w-2/4 xs:max-w-2/4 sm:max-w-2/4 md:max-w-2/4 lg:max-w-2/4"></div>
<div class="w-3/4 min-w-3/4 max-w-3/4 xs:w-3/4 sm:w-3/4 md:w-3/4 lg:w-3/4 xs:min-w-3/4 sm:min-w-3/4 md:min-w-3/4 lg:min-w-3/4 xs:max-w-3/4 sm:max-w-3/4 md:max-w-3/4 lg:max-w-3/4"></div>
<div class="w-1/5 min-w-1/5 max-w-1/5 xs:w-1/5 sm:w-1/5 md:w-1/5 lg:w-1/5 xs:min-w-1/5 sm:min-w-1/5 md:min-w-1/5 lg:min-w-1/5 xs:max-w-1/5 sm:max-w-1/5 md:max-w-1/5 lg:max-w-1/5"></div>
<div class="w-2/5 min-w-2/5 max-w-2/5 xs:w-2/5 sm:w-2/5 md:w-2/5 lg:w-2/5 xs:min-w-2/5 sm:min-w-2/5 md:min-w-2/5 lg:min-w-2/5 xs:max-w-2/5 sm:max-w-2/5 md:max-w-2/5 lg:max-w-2/5"></div>
<div class="w-3/5 min-w-3/5 max-w-3/5 xs:w-3/5 sm:w-3/5 md:w-3/5 lg:w-3/5 xs:min-w-3/5 sm:min-w-3/5 md:min-w-3/5 lg:min-w-3/5 xs:max-w-3/5 sm:max-w-3/5 md:max-w-3/5 lg:max-w-3/5"></div>
<div class="w-4/5 min-w-4/5 max-w-4/5 xs:w-4/5 sm:w-4/5 md:w-4/5 lg:w-4/5 xs:min-w-4/5 sm:min-w-4/5 md:min-w-4/5 lg:min-w-4/5 xs:max-w-4/5 sm:max-w-4/5 md:max-w-4/5 lg:max-w-4/5"></div>
<div class="w-1/6 min-w-1/6 max-w-1/6 xs:w-1/6 sm:w-1/6 md:w-1/6 lg:w-1/6 xs:min-w-1/6 sm:min-w-1/6 md:min-w-1/6 lg:min-w-1/6 xs:max-w-1/6 sm:max-w-1/6 md:max-w-1/6 lg:max-w-1/6"></div>
<div class="w-2/6 min-w-2/6 max-w-2/6 xs:w-2/6 sm:w-2/6 md:w-2/6 lg:w-2/6 xs:min-w-2/6 sm:min-w-2/6 md:min-w-2/6 lg:min-w-2/6 xs:max-w-2/6 sm:max-w-2/6 md:max-w-2/6 lg:max-w-2/6"></div>
<div class="w-3/6 min-w-3/6 max-w-3/6 xs:w-3/6 sm:w-3/6 md:w-3/6 lg:w-3/6 xs:min-w-3/6 sm:min-w-3/6 md:min-w-3/6 lg:min-w-3/6 xs:max-w-3/6 sm:max-w-3/6 md:max-w-3/6 lg:max-w-3/6"></div>
<div class="w-4/6 min-w-4/6 max-w-4/6 xs:w-4/6 sm:w-4/6 md:w-4/6 lg:w-4/6 xs:min-w-4/6 sm:min-w-4/6 md:min-w-4/6 lg:min-w-4/6 xs:max-w-4/6 sm:max-w-4/6 md:max-w-4/6 lg:max-w-4/6"></div>
<div class="w-5/6 min-w-5/6 max-w-5/6 xs:w-5/6 sm:w-5/6 md:w-5/6 lg:w-5/6 xs:min-w-5/6 sm:min-w-5/6 md:min-w-5/6 lg:min-w-5/6 xs:max-w-5/6 sm:max-w-5/6 md:max-w-5/6 lg:max-w-5/6"></div>
<div class="w-1/12 min-w-1/12 max-w-1/12 xs:w-1/12 sm:w-1/12 md:w-1/12 lg:w-1/12 xs:min-w-1/12 sm:min-w-1/12 md:min-w-1/12 lg:min-w-1/12 xs:max-w-1/12 sm:max-w-1/12 md:max-w-1/12 lg:max-w-1/12"></div>
<div class="w-2/12 min-w-2/12 max-w-2/12 xs:w-2/12 sm:w-2/12 md:w-2/12 lg:w-2/12 xs:min-w-2/12 sm:min-w-2/12 md:min-w-2/12 lg:min-w-2/12 xs:max-w-2/12 sm:max-w-2/12 md:max-w-2/12 lg:max-w-2/12"></div>
<div class="w-3/12 min-w-3/12 max-w-3/12 xs:w-3/12 sm:w-3/12 md:w-3/12 lg:w-3/12 xs:min-w-3/12 sm:min-w-3/12 md:min-w-3/12 lg:min-w-3/12 xs:max-w-3/12 sm:max-w-3/12 md:max-w-3/12 lg:max-w-3/12"></div>
<div class="w-4/12 min-w-4/12 max-w-4/12 xs:w-4/12 sm:w-4/12 md:w-4/12 lg:w-4/12 xs:min-w-4/12 sm:min-w-4/12 md:min-w-4/12 lg:min-w-4/12 xs:max-w-4/12 sm:max-w-4/12 md:max-w-4/12 lg:max-w-4/12"></div>
<div class="w-5/12 min-w-5/12 max-w-5/12 xs:w-5/12 sm:w-5/12 md:w-5/12 lg:w-5/12 xs:min-w-5/12 sm:min-w-5/12 md:min-w-5/12 lg:min-w-5/12 xs:max-w-5/12 sm:max-w-5/12 md:max-w-5/12 lg:max-w-5/12"></div>
<div class="w-6/12 min-w-6/12 max-w-6/12 xs:w-6/12 sm:w-6/12 md:w-6/12 lg:w-6/12 xs:min-w-6/12 sm:min-w-6/12 md:min-w-6/12 lg:min-w-6/12 xs:max-w-6/12 sm:max-w-6/12 md:max-w-6/12 lg:max-w-6/12"></div>
<div class="w-7/12 min-w-7/12 max-w-7/12 xs:w-7/12 sm:w-7/12 md:w-7/12 lg:w-7/12 xs:min-w-7/12 sm:min-w-7/12 md:min-w-7/12 lg:min-w-7/12 xs:max-w-7/12 sm:max-w-7/12 md:max-w-7/12 lg:max-w-7/12"></div>
<div class="w-8/12 min-w-8/12 max-w-8/12 xs:w-8/12 sm:w-8/12 md:w-8/12 lg:w-8/12 xs:min-w-8/12 sm:min-w-8/12 md:min-w-8/12 lg:min-w-8/12 xs:max-w-8/12 sm:max-w-8/12 md:max-w-8/12 lg:max-w-8/12"></div>
<div class="w-9/12 min-w-9/12 max-w-9/12 xs:w-9/12 sm:w-9/12 md:w-9/12 lg:w-9/12 xs:min-w-9/12 sm:min-w-9/12 md:min-w-9/12 lg:min-w-9/12 xs:max-w-9/12 sm:max-w-9/12 md:max-w-9/12 lg:max-w-9/12"></div>
<div class="w-10/12 min-w-10/12 max-w-10/12 xs:w-10/12 sm:w-10/12 md:w-10/12 lg:w-10/12 xs:min-w-10/12 sm:min-w-10/12 md:min-w-10/12 lg:min-w-10/12 xs:max-w-10/12 sm:max-w-10/12 md:max-w-10/12 lg:max-w-10/12"></div>
<div class="w-11/12 min-w-11/12 max-w-11/12 xs:w-11/12 sm:w-11/12 md:w-11/12 lg:w-11/12 xs:min-w-11/12 sm:min-w-11/12 md:min-w-11/12 lg:min-w-11/12 xs:max-w-11/12 sm:max-w-11/12 md:max-w-11/12 lg:max-w-11/12"></div>
<div class="w-full min-w-full max-w-full xs:w-full sm:w-full md:w-full lg:w-full xs:min-w-full sm:min-w-full md:min-w-full lg:min-w-full xs:max-w-full sm:max-w-full md:max-w-full lg:max-w-full"></div>
<div class="w-screen min-w-screen max-w-screen xs:w-screen sm:w-screen md:w-screen lg:w-screen xs:min-w-screen sm:min-w-screen md:min-w-screen lg:min-w-screen xs:max-w-screen sm:max-w-screen md:max-w-full lg:max-w-full"></div>
<div class="w-fit min-w-fit max-w-fit xs:w-fit sm:w-fit md:w-fit lg:w-fit xs:min-w-fit sm:min-w-fit md:min-w-fit lg:min-w-fit xs:max-w-fit sm:max-w-fit md:max-w-full lg:max-w-full"></div>
<div class="w-min min-w-min max-w-min xs:w-min sm:w-min md:w-min lg:w-min xs:min-w-min sm:min-w-min md:min-w-min lg:min-w-min xs:max-w-min sm:max-w-min md:max-w-min lg:max-w-min"></div>
<div class="w-max min-w-max max-w-max xs:w-max sm:w-max md:w-max lg:w-max xs:min-w-max sm:min-w-max md:min-w-max lg:min-w-max xs:max-w-max sm:max-w-max md:max-w-max lg:max-w-max"></div>
</div>


<div>
<div class="h-0 min-h-0 max-h-0 xs:h-0 sm:h-0 md:h-0 lg:h-0 xs:min-h-0 sm:min-h-0 md:min-h-0 lg:min-h-0 xs:max-h-0 sm:max-h-0 md:max-h-0 lg:max-h-0"></div>
<div class="h-px min-h-px max-h-px xs:h-px sm:h-px md:h-px lg:h-px xs:min-h-px sm:min-h-px md:min-h-px lg:min-h-px xs:max-h-px sm:max-h-px md:max-h-px lg:max-h-px"></div>
<div class="h-0.5 min-h-0.5 max-h-0.5 xs:h-0.5 sm:h-0.5 md:h-0.5 lg:h-0.5 xs:min-h-0.5 sm:min-h-0.5 md:min-h-0.5 lg:min-h-0.5 xs:max-h-0.5 sm:max-h-0.5 md:max-h-0.5 lg:max-h-0.5"></div>
<div class="h-1 min-h-1 max-h-1 xs:h-1 sm:h-1 md:h-1 lg:h-1 xs:min-h-1 sm:min-h-1 md:min-h-1 lg:min-h-1 xs:max-h-1 sm:max-h-1 md:max-h-1 lg:max-h-1"></div>
<div class="h-1.5 min-h-1.5 max-h-1.5 xs:h-1.5 sm:h-1.5 md:h-1.5 lg:h-1.5 xs:min-h-1.5 sm:min-h-1.5 md:min-h-1.5 lg:min-h-1.5 xs:max-h-1.5 sm:max-h-1.5 md:max-h-1.5 lg:max-h-1.5"></div>
<div class="h-2 min-h-2 max-h-2 xs:h-2 sm:h-2 md:h-2 lg:h-2 xs:min-h-2 sm:min-h-2 md:min-h-2 lg:min-h-2 xs:max-h-2 sm:max-h-2 md:max-h-2 lg:max-h-2"></div>
<div class="h-2.5 min-h-2.5 max-h-2.5 xs:h-2.5 sm:h-2.5 md:h-2.5 lg:h-2.5 xs:min-h-2.5 sm:min-h-2.5 md:min-h-2.5 lg:min-h-2.5 xs:max-h-2.5 sm:max-h-2.5 md:max-h-2.5 lg:max-h-2.5"></div>
<div class="h-3 min-h-3 max-h-3 xs:h-3 sm:h-3 md:h-3 lg:h-3 xs:min-h-3 sm:min-h-3 md:min-h-3 lg:min-h-3 xs:max-h-3 sm:max-h-3 md:max-h-3 lg:max-h-3"></div>
<div class="h-3.5 min-h-3.5 max-h-3.5 xs:h-3.5 sm:h-3.5 md:h-3.5 lg:h-3.5 xs:min-h-3.5 sm:min-h-3.5 md:min-h-3.5 lg:min-h-3.5 xs:max-h-3.5 sm:max-h-3.5 md:max-h-3.5 lg:max-h-3.5"></div>
<div class="h-4 min-h-4 max-h-4 xs:h-4 sm:h-4 md:h-4 lg:h-4 xs:min-h-4 sm:min-h-4 md:min-h-4 lg:min-h-4 xs:max-h-4 sm:max-h-4 md:max-h-4 lg:max-h-4"></div>
<div class="h-5 min-h-5 max-h-5 xs:h-5 sm:h-5 md:h-5 lg:h-5 xs:min-h-5 sm:min-h-5 md:min-h-5 lg:min-h-5 xs:max-h-5 sm:max-h-5 md:max-h-5 lg:max-h-5"></div>
<div class="h-6 min-h-6 max-h-6 xs:h-6 sm:h-6 md:h-6 lg:h-6 xs:min-h-6 sm:min-h-6 md:min-h-6 lg:min-h-6 xs:max-h-6 sm:max-h-6 md:max-h-6 lg:max-h-6"></div>
<div class="h-7 min-h-7 max-h-7 xs:h-7 sm:h-7 md:h-7 lg:h-7 xs:min-h-7 sm:min-h-7 md:min-h-7 lg:min-h-7 xs:max-h-7 sm:max-h-7 md:max-h-7 lg:max-h-7"></div>
<div class="h-8 min-h-8 max-h-8 xs:h-8 sm:h-8 md:h-8 lg:h-8 xs:min-h-8 sm:min-h-8 md:min-h-8 lg:min-h-8 xs:max-h-8 sm:max-h-8 md:max-h-8 lg:max-h-8"></div>
<div class="h-9 min-h-9 max-h-9 xs:h-9 sm:h-9 md:h-9 lg:h-9 xs:min-h-9 sm:min-h-9 md:min-h-9 lg:min-h-9 xs:max-h-9 sm:max-h-9 md:max-h-9 lg:max-h-9"></div>
<div class="h-10 min-h-10 max-h-10 xs:h-10 sm:h-10 md:h-10 lg:h-10 xs:min-h-10 sm:min-h-10 md:min-h-10 lg:min-h-10 xs:max-h-10 sm:max-h-10 md:max-h-10 lg:max-h-10"></div>
<div class="h-11 min-h-11 max-h-11 xs:h-11 sm:h-11 md:h-11 lg:h-11 xs:min-h-11 sm:min-h-11 md:min-h-11 lg:min-h-11 xs:max-h-11 sm:max-h-11 md:max-h-11 lg:max-h-11"></div>
<div class="h-12 min-h-12 max-h-12 xs:h-12 sm:h-12 md:h-12 lg:h-12 xs:min-h-12 sm:min-h-12 md:min-h-12 lg:min-h-12 xs:max-h-12 sm:max-h-12 md:max-h-12 lg:max-h-12"></div>
<div class="h-14 min-h-14 max-h-14 xs:h-14 sm:h-14 md:h-14 lg:h-14 xs:min-h-14 sm:min-h-14 md:min-h-14 lg:min-h-14 xs:max-h-14 sm:max-h-14 md:max-h-14 lg:max-h-14"></div>
<div class="h-16 min-h-16 max-h-16 xs:h-16 sm:h-16 md:h-16 lg:h-16 xs:min-h-16 sm:min-h-16 md:min-h-16 lg:min-h-16 xs:max-h-16 sm:max-h-16 md:max-h-16 lg:max-h-16"></div>
<div class="h-20 min-h-20 max-h-20 xs:h-20 sm:h-20 md:h-20 lg:h-20 xs:min-h-20 sm:min-h-20 md:min-h-20 lg:min-h-20 xs:max-h-20 sm:max-h-20 md:max-h-20 lg:max-h-20"></div>
<div class="h-24 min-h-24 max-h-24 xs:h-24 sm:h-24 md:h-24 lg:h-24 xs:min-h-24 sm:min-h-24 md:min-h-24 lg:min-h-24 xs:max-h-24 sm:max-h-24 md:max-h-24 lg:max-h-24"></div>
<div class="h-28 min-h-28 max-h-28 xs:h-28 sm:h-28 md:h-28 lg:h-28 xs:min-h-28 sm:min-h-28 md:min-h-28 lg:min-h-28 xs:max-h-28 sm:max-h-28 md:max-h-28 lg:max-h-28"></div>
<div class="h-32 min-h-32 max-h-32 xs:h-32 sm:h-32 md:h-32 lg:h-32 xs:min-h-32 sm:min-h-32 md:min-h-32 lg:min-h-32 xs:max-h-32 sm:max-h-32 md:max-h-32 lg:max-h-32"></div>
<div class="h-36 min-h-36 max-h-36 xs:h-36 sm:h-36 md:h-36 lg:h-36 xs:min-h-36 sm:min-h-36 md:min-h-36 lg:min-h-36 xs:max-h-36 sm:max-h-36 md:max-h-36 lg:max-h-36"></div>
<div class="h-40 min-h-40 max-h-40 xs:h-40 sm:h-40 md:h-40 lg:h-40 xs:min-h-40 sm:min-h-40 md:min-h-40 lg:min-h-40 xs:max-h-40 sm:max-h-40 md:max-h-40 lg:max-h-40"></div>
<div class="h-44 min-h-44 max-h-44 xs:h-44 sm:h-44 md:h-44 lg:h-44 xs:min-h-44 sm:min-h-44 md:min-h-44 lg:min-h-44 xs:max-h-44 sm:max-h-44 md:max-h-44 lg:max-h-44"></div>
<div class="h-48 min-h-48 max-h-48 xs:h-48 sm:h-48 md:h-48 lg:h-48 xs:min-h-48 sm:min-h-48 md:min-h-48 lg:min-h-48 xs:max-h-48 sm:max-h-48 md:max-h-48 lg:max-h-48"></div>
<div class="h-52 min-h-52 max-h-52 xs:h-52 sm:h-52 md:h-52 lg:h-52 xs:min-h-52 sm:min-h-52 md:min-h-52 lg:min-h-52 xs:max-h-52 sm:max-h-52 md:max-h-52 lg:max-h-52"></div>
<div class="h-56 min-h-56 max-h-56 xs:h-56 sm:h-56 md:h-56 lg:h-56 xs:min-h-56 sm:min-h-56 md:min-h-56 lg:min-h-56 xs:max-h-56 sm:max-h-56 md:max-h-56 lg:max-h-56"></div>
<div class="h-60 min-h-60 max-h-60 xs:h-60 sm:h-60 md:h-60 lg:h-60 xs:min-h-60 sm:min-h-60 md:min-h-60 lg:min-h-60 xs:max-h-60 sm:max-h-60 md:max-h-60 lg:max-h-60"></div>
<div class="h-64 min-h-64 max-h-64 xs:h-64 sm:h-64 md:h-64 lg:h-64 xs:min-h-64 sm:min-h-64 md:min-h-64 lg:min-h-64 xs:max-h-64 sm:max-h-64 md:max-h-64 lg:max-h-64"></div>
<div class="h-72 min-h-72 max-h-72 xs:h-72 sm:h-72 md:h-72 lg:h-72 xs:min-h-72 sm:min-h-72 md:min-h-72 lg:min-h-72 xs:max-h-72 sm:max-h-72 md:max-h-72 lg:max-h-72"></div>
<div class="h-80 min-h-80 max-h-80 xs:h-80 sm:h-80 md:h-80 lg:h-80 xs:min-h-80 sm:min-h-80 md:min-h-80 lg:min-h-80 xs:max-h-80 sm:max-h-80 md:max-h-80 lg:max-h-80"></div>
<div class="h-96 min-h-96 max-h-96 xs:h-96 sm:h-96 md:h-96 lg:h-96 xs:min-h-96 sm:min-h-96 md:min-h-96 lg:min-h-96 xs:max-h-96 sm:max-h-96 md:max-h-96 lg:max-h-96"></div>
<div class="h-auto min-h-auto max-h-auto xs:h-auto sm:h-auto md:h-auto lg:h-auto xs:min-h-auto sm:min-h-auto md:min-h-auto lg:min-h-auto xs:max-h-auto sm:max-h-auto md:max-h-auto lg:max-h-auto"></div>
<div class="h-1/2 min-h-1/2 max-h-1/2 xs:h-1/2 sm:h-1/2 md:h-1/2 lg:h-1/2 xs:min-h-1/2 sm:min-h-1/2 md:min-h-1/2 lg:min-h-1/2 xs:max-h-1/2 sm:max-h-1/2 md:max-h-1/2 lg:max-h-1/2"></div>
<div class="h-1/3 min-h-1/3 max-h-1/3 xs:h-1/3 sm:h-1/3 md:h-1/3 lg:h-1/3 xs:min-h-1/3 sm:min-h-1/3 md:min-h-1/3 lg:min-h-1/3 xs:max-h-1/3 sm:max-h-1/3 md:max-h-1/3 lg:max-h-1/3"></div>
<div class="h-2/3 min-h-2/3 max-h-2/3 xs:h-2/3 sm:h-2/3 md:h-2/3 lg:h-2/3 xs:min-h-2/3 sm:min-h-2/3 md:min-h-2/3 lg:min-h-2/3 xs:max-h-2/3 sm:max-h-2/3 md:max-h-2/3 lg:max-h-2/3"></div>
<div class="h-1/4 min-h-1/4 max-h-1/4 xs:h-1/4 sm:h-1/4 md:h-1/4 lg:h-1/4 xs:min-h-1/4 sm:min-h-1/4 md:min-h-1/4 lg:min-h-1/4 xs:max-h-1/4 sm:max-h-1/4 md:max-h-1/4 lg:max-h-1/4"></div>
<div class="h-2/4 min-h-2/4 max-h-2/4 xs:h-2/4 sm:h-2/4 md:h-2/4 lg:h-2/4 xs:min-h-2/4 sm:min-h-2/4 md:min-h-2/4 lg:min-h-2/4 xs:max-h-2/4 sm:max-h-2/4 md:max-h-2/4 lg:max-h-2/4"></div>
<div class="h-3/4 min-h-3/4 max-h-3/4 xs:h-3/4 sm:h-3/4 md:h-3/4 lg:h-3/4 xs:min-h-3/4 sm:min-h-3/4 md:min-h-3/4 lg:min-h-3/4 xs:max-h-3/4 sm:max-h-3/4 md:max-h-3/4 lg:max-h-3/4"></div>
<div class="h-1/5 min-h-1/5 max-h-1/5 xs:h-1/5 sm:h-1/5 md:h-1/5 lg:h-1/5 xs:min-h-1/5 sm:min-h-1/5 md:min-h-1/5 lg:min-h-1/5 xs:max-h-1/5 sm:max-h-1/5 md:max-h-1/5 lg:max-h-1/5"></div>
<div class="h-2/5 min-h-2/5 max-h-2/5 xs:h-2/5 sm:h-2/5 md:h-2/5 lg:h-2/5 xs:min-h-2/5 sm:min-h-2/5 md:min-h-2/5 lg:min-h-2/5 xs:max-h-2/5 sm:max-h-2/5 md:max-h-2/5 lg:max-h-2/5"></div>
<div class="h-3/5 min-h-3/5 max-h-3/5 xs:h-3/5 sm:h-3/5 md:h-3/5 lg:h-3/5 xs:min-h-3/5 sm:min-h-3/5 md:min-h-3/5 lg:min-h-3/5 xs:max-h-3/5 sm:max-h-3/5 md:max-h-3/5 lg:max-h-3/5"></div>
<div class="h-4/5 min-h-4/5 max-h-4/5 xs:h-4/5 sm:h-4/5 md:h-4/5 lg:h-4/5 xs:min-h-4/5 sm:min-h-4/5 md:min-h-4/5 lg:min-h-4/5 xs:max-h-4/5 sm:max-h-4/5 md:max-h-4/5 lg:max-h-4/5"></div>
<div class="h-1/6 min-h-1/6 max-h-1/6 xs:h-1/6 sm:h-1/6 md:h-1/6 lg:h-1/6 xs:min-h-1/6 sm:min-h-1/6 md:min-h-1/6 lg:min-h-1/6 xs:max-h-1/6 sm:max-h-1/6 md:max-h-1/6 lg:max-h-1/6"></div>
<div class="h-2/6 min-h-2/6 max-h-2/6 xs:h-2/6 sm:h-2/6 md:h-2/6 lg:h-2/6 xs:min-h-2/6 sm:min-h-2/6 md:min-h-2/6 lg:min-h-2/6 xs:max-h-2/6 sm:max-h-2/6 md:max-h-2/6 lg:max-h-2/6"></div>
<div class="h-3/6 min-h-3/6 max-h-3/6 xs:h-3/6 sm:h-3/6 md:h-3/6 lg:h-3/6 xs:min-h-3/6 sm:min-h-3/6 md:min-h-3/6 lg:min-h-3/6 xs:max-h-3/6 sm:max-h-3/6 md:max-h-3/6 lg:max-h-3/6"></div>
<div class="h-4/6 min-h-4/6 max-h-4/6 xs:h-4/6 sm:h-4/6 md:h-4/6 lg:h-4/6 xs:min-h-4/6 sm:min-h-4/6 md:min-h-4/6 lg:min-h-4/6 xs:max-h-4/6 sm:max-h-4/6 md:max-h-4/6 lg:max-h-4/6"></div>
<div class="h-5/6 min-h-5/6 max-h-5/6 xs:h-5/6 sm:h-5/6 md:h-5/6 lg:h-5/6 xs:min-h-5/6 sm:min-h-5/6 md:min-h-5/6 lg:min-h-5/6 xs:max-h-5/6 sm:max-h-5/6 md:max-h-5/6 lg:max-h-5/6"></div>
<div class="h-1/12 min-h-1/12 max-h-1/12 xs:h-1/12 sm:h-1/12 md:h-1/12 lg:h-1/12 xs:min-h-1/12 sm:min-h-1/12 md:min-h-1/12 lg:min-h-1/12 xs:max-h-1/12 sm:max-h-1/12 md:max-h-1/12 lg:max-h-1/12"></div>
<div class="h-2/12 min-h-2/12 max-h-2/12 xs:h-2/12 sm:h-2/12 md:h-2/12 lg:h-2/12 xs:min-h-2/12 sm:min-h-2/12 md:min-h-2/12 lg:min-h-2/12 xs:max-h-2/12 sm:max-h-2/12 md:max-h-2/12 lg:max-h-2/12"></div>
<div class="h-3/12 min-h-3/12 max-h-3/12 xs:h-3/12 sm:h-3/12 md:h-3/12 lg:h-3/12 xs:min-h-3/12 sm:min-h-3/12 md:min-h-3/12 lg:min-h-3/12 xs:max-h-3/12 sm:max-h-3/12 md:max-h-3/12 lg:max-h-3/12"></div>
<div class="h-4/12 min-h-4/12 max-h-4/12 xs:h-4/12 sm:h-4/12 md:h-4/12 lg:h-4/12 xs:min-h-4/12 sm:min-h-4/12 md:min-h-4/12 lg:min-h-4/12 xs:max-h-4/12 sm:max-h-4/12 md:max-h-4/12 lg:max-h-4/12"></div>
<div class="h-5/12 min-h-5/12 max-h-5/12 xs:h-5/12 sm:h-5/12 md:h-5/12 lg:h-5/12 xs:min-h-5/12 sm:min-h-5/12 md:min-h-5/12 lg:min-h-5/12 xs:max-h-5/12 sm:max-h-5/12 md:max-h-5/12 lg:max-h-5/12"></div>
<div class="h-6/12 min-h-6/12 max-h-6/12 xs:h-6/12 sm:h-6/12 md:h-6/12 lg:h-6/12 xs:min-h-6/12 sm:min-h-6/12 md:min-h-6/12 lg:min-h-6/12 xs:max-h-6/12 sm:max-h-6/12 md:max-h-6/12 lg:max-h-6/12"></div>
<div class="h-7/12 min-h-7/12 max-h-7/12 xs:h-7/12 sm:h-7/12 md:h-7/12 lg:h-7/12 xs:min-h-7/12 sm:min-h-7/12 md:min-h-7/12 lg:min-h-7/12 xs:max-h-7/12 sm:max-h-7/12 md:max-h-7/12 lg:max-h-7/12"></div>
<div class="h-8/12 min-h-8/12 max-h-8/12 xs:h-8/12 sm:h-8/12 md:h-8/12 lg:h-8/12 xs:min-h-8/12 sm:min-h-8/12 md:min-h-8/12 lg:min-h-8/12 xs:max-h-8/12 sm:max-h-8/12 md:max-h-8/12 lg:max-h-8/12"></div>
<div class="h-9/12 min-h-9/12 max-h-9/12 xs:h-9/12 sm:h-9/12 md:h-9/12 lg:h-9/12 xs:min-h-9/12 sm:min-h-9/12 md:min-h-9/12 lg:min-h-9/12 xs:max-h-9/12 sm:max-h-9/12 md:max-h-9/12 lg:max-h-9/12"></div>
<div class="h-10/12 min-h-10/12 max-h-10/12 xs:h-10/12 sm:h-10/12 md:h-10/12 lg:h-10/12 xs:min-h-10/12 sm:min-h-10/12 md:min-h-10/12 lg:min-h-10/12 xs:max-h-10/12 sm:max-h-10/12 md:max-h-10/12 lg:max-h-10/12"></div>
<div class="h-11/12 min-h-11/12 max-h-11/12 xs:h-11/12 sm:h-11/12 md:h-11/12 lg:h-11/12 xs:min-h-11/12 sm:min-h-11/12 md:min-h-11/12 lg:min-h-11/12 xs:max-h-11/12 sm:max-h-11/12 md:max-h-11/12 lg:max-h-11/12"></div>
<div class="h-full min-h-full max-h-full xs:h-full sm:h-full md:h-full lg:h-full xs:min-h-full sm:min-h-full md:min-h-full lg:min-h-full xs:max-h-full sm:max-h-full md:max-h-full lg:max-h-full"></div>
<div class="h-screen min-h-screen max-h-screen xs:h-screen sm:h-screen md:h-screen lg:h-screen xs:min-h-screen sm:min-h-screen md:min-h-screen lg:min-h-screen xs:max-h-screen sm:max-h-screen md:max-h-full lg:max-h-full"></div>
<div class="h-fit min-h-fit max-h-fit xs:h-fit sm:h-fit md:h-fit lg:h-fit xs:min-h-fit sm:min-h-fit md:min-h-fit lg:min-h-fit xs:max-h-fit sm:max-h-fit md:max-h-full lg:max-h-full"></div>
<div class="h-min min-h-min max-h-min xs:h-min sm:h-min md:h-min lg:h-min xs:min-h-min sm:min-h-min md:min-h-min lg:min-h-min xs:max-h-min sm:max-h-min md:max-h-min lg:max-h-min"></div>
<div class="h-max min-h-max max-h-max xs:h-max sm:h-max md:h-max lg:h-max xs:min-h-max sm:min-h-max md:min-h-max lg:min-h-max xs:max-h-max sm:max-h-max md:max-h-max lg:max-h-max"></div>
</div>
<div>
    <div class=" top-0 top-1 top-2 top-3 top-4 top-5 top-6 top-7 top-8 top-9 top-10 top-11 top-12 top-13 top-14 top-15 top-16 top-17 top-18 top-19 top-20 top-21 top-22 top-23 top-24 top-25 top-26 top-27 top-28 top-29 top-30 top-31 top-32 top-33 top-34 top-35 top-36 top-37 top-38 top-39 top-40 top-41 top-44 top-43 top-44 top-45 top-46 top-47 top-48 top-49 top-50 top-51 top-55 top-53 top-54 top-55 top-56 top-57 top-58 top-59 top-60 top-61 top-66 top-63 top-64 top-65 top-66 top-67 top-68 top-69 top-70 top-71 top-77 top-73 top-74 top-75 top-76 top-77 top-78 top-79  "></div>
    <div class=" -top-0 -top-1 -top-2 -top-3 -top-4 -top-5 -top-6 -top-7 -top-8 -top-9 -top-10 -top-11 -top-12 -top-13 -top-14 -top-15 -top-16 -top-17 -top-18 -top-19 -top-20 -top-21 -top-22 -top-23 -top-24 -top-25 -top-26 -top-27 -top-28 -top-29 -top-30 -top-31 -top-32 -top-33 -top-34 -top-35 -top-36 -top-37 -top-38 -top-39 -top-40 -top-41 -top-44 -top-43 -top-44 -top-45 -top-46 -top-47 -top-48 -top-49 -top-50 -top-51 -top-55 -top-53 -top-54 -top-55 -top-56 -top-57 -top-58 -top-59 -top-60 -top-61 -top-66 -top-63 -top-64 -top-65 -top-66 -top-67 -top-68 -top-69 -top-70 -top-71 -top-77 -top-73 -top-74 -top-75 -top-76 -top-77 -top-78 -top-79 "></div>
    <div class=" right-0 right-1 right-2 right-3 right-4 right-5 right-6 right-7 right-8 right-9 right-10 right-11 right-12 right-13 right-14 right-15 right-16 right-17 right-18 right-19 right-20 right-21 right-22 right-23 right-24 right-25 right-26 right-27 right-28 right-29 right-30 right-31 right-32 right-33 right-34 right-35 right-36 right-37 right-38 right-39 right-40 right-41 right-44 right-43 right-44 right-45 right-46 right-47 right-48 right-49 right-50 right-51 right-55 right-53 right-54 right-55 right-56 right-57 right-58 right-59 right-60 right-61 right-66 right-63 right-64 right-65 right-66 right-67 right-68 right-69 right-70 right-71 right-77 right-73 right-74 right-75 right-76 right-77 right-78 right-79  "></div>
    <div class=" -right-0 -right-1 -right-2 -right-3 -right-4 -right-5 -right-6 -right-7 -right-8 -right-9 -right-10 -right-11 -right-12 -right-13 -right-14 -right-15 -right-16 -right-17 -right-18 -right-19 -right-20 -right-21 -right-22 -right-23 -right-24 -right-25 -right-26 -right-27 -right-28 -right-29 -right-30 -right-31 -right-32 -right-33 -right-34 -right-35 -right-36 -right-37 -right-38 -right-39 -right-40 -right-41 -right-44 -right-43 -right-44 -right-45 -right-46 -right-47 -right-48 -right-49 -right-50 -right-51 -right-55 -right-53 -right-54 -right-55 -right-56 -right-57 -right-58 -right-59 -right-60 -right-61 -right-66 -right-63 -right-64 -right-65 -right-66 -right-67 -right-68 -right-69 -right-70 -right-71 -right-77 -right-73 -right-74 -right-75 -right-76 -right-77 -right-78 -right-79 "></div>
    <div class=" bottom-0 bottom-1 bottom-2 bottom-3 bottom-4 bottom-5 bottom-6 bottom-7 bottom-8 bottom-9 bottom-10 bottom-11 bottom-12 bottom-13 bottom-14 bottom-15 bottom-16 bottom-17 bottom-18 bottom-19 bottom-20 bottom-21 bottom-22 bottom-23 bottom-24 bottom-25 bottom-26 bottom-27 bottom-28 bottom-29 bottom-30 bottom-31 bottom-32 bottom-33 bottom-34 bottom-35 bottom-36 bottom-37 bottom-38 bottom-39 bottom-40 bottom-41 bottom-44 bottom-43 bottom-44 bottom-45 bottom-46 bottom-47 bottom-48 bottom-49 bottom-50 bottom-51 bottom-55 bottom-53 bottom-54 bottom-55 bottom-56 bottom-57 bottom-58 bottom-59 bottom-60 bottom-61 bottom-66 bottom-63 bottom-64 bottom-65 bottom-66 bottom-67 bottom-68 bottom-69 bottom-70 bottom-71 bottom-77 bottom-73 bottom-74 bottom-75 bottom-76 bottom-77 bottom-78 bottom-79  "></div>
    <div class=" -bottom-0 -bottom-1 -bottom-2 -bottom-3 -bottom-4 -bottom-5 -bottom-6 -bottom-7 -bottom-8 -bottom-9 -bottom-10 -bottom-11 -bottom-12 -bottom-13 -bottom-14 -bottom-15 -bottom-16 -bottom-17 -bottom-18 -bottom-19 -bottom-20 -bottom-21 -bottom-22 -bottom-23 -bottom-24 -bottom-25 -bottom-26 -bottom-27 -bottom-28 -bottom-29 -bottom-30 -bottom-31 -bottom-32 -bottom-33 -bottom-34 -bottom-35 -bottom-36 -bottom-37 -bottom-38 -bottom-39 -bottom-40 -bottom-41 -bottom-44 -bottom-43 -bottom-44 -bottom-45 -bottom-46 -bottom-47 -bottom-48 -bottom-49 -bottom-50 -bottom-51 -bottom-55 -bottom-53 -bottom-54 -bottom-55 -bottom-56 -bottom-57 -bottom-58 -bottom-59 -bottom-60 -bottom-61 -bottom-66 -bottom-63 -bottom-64 -bottom-65 -bottom-66 -bottom-67 -bottom-68 -bottom-69 -bottom-70 -bottom-71 -bottom-77 -bottom-73 -bottom-74 -bottom-75 -bottom-76 -bottom-77 -bottom-78 -bottom-79 "></div>
    <div class=" left-0 left-1 left-2 left-3 left-4 left-5 left-6 left-7 left-8 left-9 left-10 left-11 left-12 left-13 left-14 left-15 left-16 left-17 left-18 left-19 left-20 left-21 left-22 left-23 left-24 left-25 left-26 left-27 left-28 left-29 left-30 left-31 left-32 left-33 left-34 left-35 left-36 left-37 left-38 left-39 left-40 left-41 left-44 left-43 left-44 left-45 left-46 left-47 left-48 left-49 left-50 left-51 left-55 left-53 left-54 left-55 left-56 left-57 left-58 left-59 left-60 left-61 left-66 left-63 left-64 left-65 left-66 left-67 left-68 left-69 left-70 left-71 left-77 left-73 left-74 left-75 left-76 left-77 left-78 left-79  "></div>
    <div class=" -left-0 -left-1 -left-2 -left-3 -left-4 -left-5 -left-6 -left-7 -left-8 -left-9 -left-10 -left-11 -left-12 -left-13 -left-14 -left-15 -left-16 -left-17 -left-18 -left-19 -left-20 -left-21 -left-22 -left-23 -left-24 -left-25 -left-26 -left-27 -left-28 -left-29 -left-30 -left-31 -left-32 -left-33 -left-34 -left-35 -left-36 -left-37 -left-38 -left-39 -left-40 -left-41 -left-44 -left-43 -left-44 -left-45 -left-46 -left-47 -left-48 -left-49 -left-50 -left-51 -left-55 -left-53 -left-54 -left-55 -left-56 -left-57 -left-58 -left-59 -left-60 -left-61 -left-66 -left-63 -left-64 -left-65 -left-66 -left-67 -left-68 -left-69 -left-70 -left-71 -left-77 -left-73 -left-74 -left-75 -left-76 -left-77 -left-78 -left-79 "></div>
    
</div>
<div class="select-all select-none select-text	select-auto	"></div>

<div class="w-full bg-white rounded-lg border shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select tab</label>
        <select id="tabs" class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 sm:text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option>Statistics</option>
            <option>Services</option>
            <option>FAQ</option>
        </select>
    </div>
    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg divide-x divide-gray-200 sm:flex dark:divide-gray-600 dark:text-gray-400" id="fullWidthTab" data-tabs-toggle="#fullWidthTabContent" role="tablist">
        <li class="w-full">
            <button id="stats-tab" data-tabs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true" class="inline-block p-4 w-full bg-gray-50 rounded-tl-lg hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500">Statistics</button>
        </li>
        <li class="w-full">
            <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="false" class="inline-block p-4 w-full bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300">Services</button>
        </li>
        <li class="w-full">
            <button id="faq-tab" data-tabs-target="#faq" type="button" role="tab" aria-controls="faq" aria-selected="false" class="inline-block p-4 w-full bg-gray-50 rounded-tr-lg hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300">FAQ</button>
        </li>
    </ul>
    <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
        <div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <dl class="grid grid-cols-2 gap-8 p-4 mx-auto max-w-screen-xl text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
                <div class="flex flex-col justify-center items-center">
                    <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
                    <dd class="font-light text-gray-500 dark:text-gray-400">Developers</dd>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
                    <dd class="font-light text-gray-500 dark:text-gray-400">Public repositories</dd>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
                    <dd class="font-light text-gray-500 dark:text-gray-400">Open source projects</dd>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <dt class="mb-2 text-3xl font-extrabold">1B+</dt>
                    <dd class="font-light text-gray-500 dark:text-gray-400">Contributors</dd>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <dt class="mb-2 text-3xl font-extrabold">90+</dt>
                    <dd class="font-light text-gray-500 dark:text-gray-400">Top Forbes companies</dd>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <dt class="mb-2 text-3xl font-extrabold">4M+</dt>
                    <dd class="font-light text-gray-500 dark:text-gray-400">Organizations</dd>
                </div>
            </dl>
        </div>
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
            <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">We invest in the world’s potential</h2>
            <!-- List -->
            <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
                <li class="flex space-x-2">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="font-light leading-tight">Dynamic reports and dashboards</span>
                </li>
                <li class="flex space-x-2">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="font-light leading-tight">Templates for everyone</span>
                </li>
                <li class="flex space-x-2">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="font-light leading-tight">Development workflow</span>
                </li>
                <li class="flex space-x-2">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="font-light leading-tight">Limitless business automation</span>
                </li>
            </ul>
        </div>
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="faq" role="tabpanel" aria-labelledby="faq-tab">
            <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                <h2 id="accordion-flush-heading-1">
                    <button type="button" class="flex justify-between items-center py-5 w-full font-medium text-left border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                    <span>What is Flowbite?</span>
                    <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h2>
                <div id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
                    <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                    <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                    </div>
                </div>
                <h2 id="accordion-flush-heading-2">
                    <button type="button" class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                    <span>Is there a Figma file available?</span>
                    <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h2>
                <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                    <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                    <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
                    </div>
                </div>
                <h2 id="accordion-flush-heading-3">
                    <button type="button" class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                    <span>What are the differences between Flowbite and Tailwind UI?</span>
                    <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </h2>
                <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                    <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                    <ul class="pl-5 list-disc text-gray-500 dark:text-gray-400">
                        <li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>
                        <li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                    </ul>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
