<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
        <div class="grid grid-cols-8 border-separate border-spacing-8 gap-3">
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_plus_lg class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_dots_vertical class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_person_circle class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_search class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_plus class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_close class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_check_circle class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_person_badge class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_plus_lg</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_dots_vertical</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_person_circle</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_search</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_plus</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_close</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_check_circle</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_person_badge</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_window_stack class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_pencil_square class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_people_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_lock_fill class="w-10 h-10 m-8" /></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_unlock_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_person_rolodex class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_outline_gear class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_arrow_left class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_window_stack</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_pencil_square</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_people_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_lock_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_unlock_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_person_rolodex</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_outline_gear</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_arrow_left</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_eye class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_exclamation_triangle_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_trash class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_key class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_door_open class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_body_text class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_signpost class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_shop class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tightertruncate ...">icons_eye</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_exclamation_triangle_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tightertruncate ...">icons_trash</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_key</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_door_open</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_body_text</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_signpost</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_shop</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_shield_lock class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_archive class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_ticket_detailed class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_caret_down_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_home  class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_right class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_left class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_down class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_shield_lock</p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_archive</p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_ticket_detailed</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_caret_down_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_home</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_right</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_left</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_down</p></div>
        </div>
  </body>
</html>




