<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
        <div class="grid grid-cols-8 border-separate border-spacing-8 gap-3">
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_plus_lg class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_dots_vertical class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_person_circle class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_search class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_plus class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_close class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_check_circle class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_person_badge class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_plus_lg</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_dots_vertical</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_person_circle</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_search</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_plus</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_close</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_check_circle</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_person_badge</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_window_stack class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_pencil_square class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_people_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_lock_fill class="w-10 h-10 m-8" /></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_unlock_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_person_rolodex class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_outline_gear class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_arrow_left class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_window_stack</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_pencil_square</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_people_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_lock_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_unlock_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_person_rolodex</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_outline_gear</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_arrow_left</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_eye class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_exclamation_triangle_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_trash class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_key class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_door_open class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_body_text class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_signpost class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_shop class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_eye</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter  truncate ...">icons_exclamation_triangle_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_trash</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_key</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_door_open</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_body_text</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_signpost</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_shop</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_shield_lock class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_archive class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_ticket_detailed class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_caret_down_fill class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_home  class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_right class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_left class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_down class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_shield_lock</p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_archive</p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_ticket_detailed</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_caret_down_fill</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_home</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_chevron_right</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_chevron_left</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_chevron_down</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_up  class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_view_list class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_users class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_upload class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_document_text class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_document class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_clock class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_star class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_chevron_up </p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_view_list</p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_users </p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_upload</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_document_text</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_document</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_clock</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_star</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_x_octagon class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_bell class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_calendar class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_double_down class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_double_up class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_double_left class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chevron_double_right class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_external_link class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_x_octagon </p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_bell</p> </div>
          <div class="col-span-1"><p class="text-xs tracking-tighter ">icons_calendar </p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_double_down</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_double_up</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_double_left</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chevron_double_right</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_external_link</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_device_phone_mobile class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_squares_plus class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_ticket class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_document_check class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_document_arrow_down  class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_whatsapp class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_current_dollar class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_queue_list class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_device_phone_mobile</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_squares_plus</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_ticket</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_document_check</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_document_arrow_down</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_whatsapp</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_current_dollar</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_queue_list</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_share class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_printer class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_minus class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_user class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_user_circle class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_user_group class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_user_minus class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_user_plus class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_share</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_printer</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_minus</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_user</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_user_circle</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_user_group</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_user_minus</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_user_plus</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_balance_scale class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_qr_code class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_envelope class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_phone class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_funnel class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_document_duplicate class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_arrow_up_on_square class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_arrow_down_on_square class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_balance_scale</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_qr_code</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_envelope</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_phone</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_funnel</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_document_duplicate</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_arrow_up_on_square</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_arrow_down_on_square</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_currency_dollar class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_credit_card class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_banknotes class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chat_bubble_bottom_center_text class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_chat_bubble_left_right class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_at class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_paper_airplane class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_bookmark class="w-10 h-10 m-8"/></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_currency_dollar</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_credit_card </p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_banknotes</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chat_bubble_bottom_center_text</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter truncate ...">icons_chat_bubble_left_right</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_at</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_paper_airplane</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_bookmark</p></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_building_office class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_hashtag class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_truck class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_moon class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_sun class="w-10 h-10 m-8"/></div>
          <div class="border w-28 h-28 rounded-lg hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 opacity-75"><.icons_receipt_refund class="w-10 h-10 m-8"/></div>
          <div class=""></div>
          <div class=""></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_building_office</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_hashtag</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_truck</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_moon</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_sun</p></div>
          <div class="col-span-1"><p class="text-xs tracking-tighter">icons_receipt_refund</p></div>
        </div>
  </body>
</html>




