<div x-data="{ isCompactMode: $persist(false).as('isCompactMode') }" >
<.breadcrum
  title="Accordion"
  subtitle="Ejemplo de Accordion."
  pages={[
      %{ 
        title: "", 
        to: "#home",
        icon: "home"
      },
      %{ 
        title: "Collapse", 
        to: "#list",
        icon: "chevron"
      },
      %{ 
        title: "Lista general", 
        to: nil,
        icon: "chevron"
      }
      ]} />
<!-- top title / buttons -->

<div class="mb-20">
  <.text_accordion  text="orem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate varius varius. Proin vitae varius ligula, sed viverra lacus. Vestibulum nec nulla venenatis risus placerat pellentesque convallis suscipit urna. Nulla orci justo, convallis quis pharetra ut, ultricies a augue. Duis vel pulvinar erat, non dignissim urna. Maecenas mattis iaculis sagittis. Nam facilisis egestas aliquet.

Maecenas ac commodo metus. Etiam quis lacus eu orci mattis commodo. Vestibulum sed quam orci. Etiam nibh ligula, egestas at turpis non, hendrerit venenatis nulla. Donec nec suscipit libero. Mauris hendrerit et massa in consequat. Phasellus nunc ligula, ultrices sit amet viverra vitae, pellentesque vitae nunc. Suspendisse at quam mi.

Nulla dapibus ac elit in faucibus. Nulla ex felis, aliquet sit amet ultricies ornare, gravida id neque. Cras dictum dapibus ligula. Pellentesque tempor, enim eget lobortis congue, velit tortor scelerisque enim, non scelerisque dolor justo ac leo. Mauris enim nisl, porta sed sodales in, consectetur vitae ex. Aliquam rhoncus ornare pulvinar. Duis tincidunt rutrum enim, a blandit tellus tempus sit amet. Donec ut ultrices odio, quis rhoncus eros. Sed tempor elit at purus commodo, eu consectetur risus lobortis. Suspendisse a velit pretium, hendrerit justo non, euismod ipsum. Suspendisse lacinia mi lacus, ut fermentum dolor vestibulum a. Vestibulum posuere vitae nibh sed vehicula. Nulla vestibulum, justo vitae hendrerit posuere, risus ipsum fermentum diam, at consequat leo risus ut purus." />
</div>

<div class="mb-20">
  <.text_accordion  class_m="" min_to_expand="38" text="Lorem ipsum dolor sit amet, consectetur" />
  <.text_accordion  class_m="" min_to_expand="40" text="Lorem ipsum dolor sit amet, it in faucibus. Nulla ex felis, aliquet sit amet ultricies ornare, gravida id neque. Cras dictum dapibus ligula. Pellentesque tempor, enim eget lobortis congue, velit tortor scelerisque enim, non scelerisque dolor justo ac leo. Mauris enim nisl, porta sed sodales in, consectetur vitae ex. Aliquam rhoncus ornare pulvinar. Duis tincidunt rutrum enim, a blandit tellus tempus sit amet. Donec ut ultrices odio, quis rhoncus eros. Sed tempor elit at purus commodo, eu consectetur risus lobortis. Suspendisse a velit pretium, hendrerit justo non, euismod ipsum. Suspendisse lacinia mi lacus, ut fermentum dolor vestibulum a. Vestibulu" />
</div>

<div class="flex">
 <.simple_accordion class="flex-1">
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="top" show={true}>
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d">
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="bottom" >
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
  </.simple_accordion>

</div>
<div class="flex">
 <.simple_accordion class="flex-1" size="small">
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="top" show={true}>
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d">
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="bottom" >
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
  </.simple_accordion>

</div>
<div class=" mb-20">
  <.accordion
    class="flex-0 min-w-[33%] mx-auto"
    accordions={@list}
    />
  <.accordion
    class="flex-0 min-w-[33%] mx-auto"
    border={true}
    accordions={@list}
    />

</div>




  <div class="mb-20">
    <.simple_accordion class="flex-1">
  
      <.item_accordion title="Titulo del ... asdasdasd asda sdasdasd asds d" position="top" show={true}>
      <:head_title class="text-right" >
        [Otra acción]
      </:head_title>
        html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
        a sdf
        as
        floor(ad sfasfa sdf)
      </.item_accordion>
    </.simple_accordion>
  </div>
<div class="flex">
 <.simple_accordion class="flex-1">
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="top" show={true}>
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d">
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="bottom" >
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
  </.simple_accordion>

</div>
</div>