<div x-data="{ isCompactMode: $persist(false).as('isCompactMode') }" >
<.breadcrum
  title="Accordion"
  subtitle="Ejemplo de Accordion."
  pages={[
      %{ 
        title: "", 
        to: "#home",
        icon: "home"
      },
      %{ 
        title: "Collapse", 
        to: "#list",
        icon: "chevron"
      },
      %{ 
        title: "Lista general", 
        to: nil,
        icon: "chevron"
      }
      ]} />
<!-- top title / buttons -->

<div class="flex">
 <.simple_accordion class="flex-1">
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="top" show={true}>
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d">
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="bottom" >
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
  </.simple_accordion>

</div>
<div class="flex">
 <.simple_accordion class="flex-1" size="small">
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="top" show={true}>
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d">
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
    <:item title="Titulo del ... asdasdasd asda sdasdasd asds d" position="bottom" >
      html...asdasdasasdasd asda sdas d asdasdas da sd dasdfasdfasdf
      a sdf
      as 
      floor(ad sfasfa sdf)
    </:item>
  </.simple_accordion>

</div>
<div class=" mb-20">
  <.accordion
    class="flex-0 min-w-[33%] mx-auto"
    accordions={@list}
    />
  <.accordion
    class="flex-0 min-w-[33%] mx-auto"
    border={true}
    accordions={@list}
    />

</div>
</div>